<template>
    <div class="guestmenu">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><span class="ti ti-menu"></span></a>
                    <a href="#" v-on:click.prevent="GoHome" class="brand-logo left">{{app_name}}</a>
                    
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#info1_section" v-on:click.prevent="GoHome" class="sidenav-close">Home</a></li>
                        <li><a href="#info1_section" class="sidenav-close">Why Books ?</a></li>
                        <li><a href="#info2_section" class="sidenav-close">Our Impact</a></li>
                        <li><a href="#partners_section" class="sidenav-close">Partners</a></li>
                        <li><a href="#" v-on:click.prevent="GoPublishBook" class="sidenav-close">Publish</a></li>
                        <li><a href="#" v-on:click.prevent="GoStore" class="sidenav-close">Read Books</a></li>
                        <li><a class='dropdown-trigger ' href='#' data-target='dropdown1'>Profile <span class="ti ti-angle-down"></span></a></li>
                        <li><a href="#" v-on:click.prevent="OpenModal('login_modal')" class="sidenav-close">Login</a></li>
                    </ul>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="#" v-on:click.prevent="GoDashboard" class="sidenav-close">Dashboard</a></li>
                        <li class="divider" tabindex="-1"></li>
                        <li><a href="#" v-on:click.prevent="GoHome" class="sidenav-close">Logout</a></li>
                        <li class="divider" tabindex="-1"></li>
                    </ul>
                </div>
            </nav>          
        </div>
        <ul class="sidenav collapsible collapsible-accordion" id="mobile-demo">
            <div class="row">
                <div class="col s6 brand-logo left">
                    {{app_name}}
                </div>
                <div class="col s6 close_nav right">
                    <a class="right-align sidenav-close" href="#">
                        <span class="ti ti-arrow-left"></span> close
                    </a>
                </div>
            </div>
            <li><a href="#info1_section" v-on:click.prevent="GoHome" class="sidenav-close"> <span class="ti ti-home"></span> Home</a></li>
            <li><a href="#info1_section" class="sidenav-close"> <span class="ti ti-help"></span> Why Books</a></li>
            <li><a href="#info2_section" class="sidenav-close"> <span class="ti ti-write"></span> Our Impact</a></li>
            <li><a href="#" v-on:click.prevent="GoPublishBook" class="sidenav-close"> <span class="ti ti-list"></span> Publish</a></li>
            <li><a href="#" v-on:click.prevent="GoStore" class="sidenav-close"> <span class="ti ti-book"></span> Read Books</a></li>
            <li class="active">
                <a class="collapsible-header">
                    <span class="ti ti-angle-down"></span> Profile
                </a>
                <div class="collapsible-body">
                    <ul class="">
                        <li><a href="#" v-on:click.prevent="GoDashboard" class="sidenav-close">Dashboard</a></li>
                        <li><a href="#" v-on:click.prevent="GoHome" class="sidenav-close">Logout</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#" v-on:click.prevent="OpenModal('login_modal')" class="sidenav-close"> <span class="ti ti-lock"></span> Login</a></li>
        </ul>
        <LoginPage/>
        <SignUpPage/>
        <ForgotPasswordPage/>
    </div>
</template>
<script>
//import AuthApi from "@/services/controller/Auth.js";
//import GuestApi from '@/services/controller/Guest.js';
import LoginPage from "@/components/modal/Login.vue";
import SignUpPage from "@/components/modal/SignUp.vue";
import ForgotPasswordPage from "@/components/modal/ForgotPassword.vue";
import MainBase from "@/allservices/controller/MainBase.js";

export default {
    name: "guestmenu",
    components: {
        LoginPage, SignUpPage, ForgotPasswordPage
    },

    data: function(){
        return{
            app_name: this.$appName,
        };
    },
    mounted: function(){
        M.AutoInit();
        MainBase.removeProgressBar();
        this.goToTop();
        //let m_elem = document.querySelectorAll('.modal');
		//M.Modal.init(m_elem, {dismissible: false})
    },
    methods:{
        GoHome: function(){
            //GuestApi.getHomePg();
            this.goToTop();
            this.$router.push('/');
        },

        GoStore: function(){
            this.$router.push('bookstore');
        },

        GoDashboard: function(){
            this.$router.push('userdashboard');
        },
        OpenModal: function(data){
            MainBase.openModal(data);
        },

        goToTop: function(){
            MainBase.scrollToTop();
        },
        GoPublishBook: function(){
            this.$router.push('publishbook');
        }
    }
};
</script>
<style lang="scss" scoped>
@import "@/assets/plugins/materialize/sass/materialize.scss";
    nav{
        
        .dropdown-content{
            min-width: 300px !important;
            //padding-top: 10px;
            top: 60px !important;
        }

        background-color: #fff;
        .nav-wrapper{
            color: eee !important;
            padding-right: 30px;
            a {
                color: $primary-color;
                font-size: 16px;
            }
            .brand-logo{
                color: $primary-color;
                font-weight: bold;
            }
        }

    }

    .sidenav{
        background-color: #fff !important;
        .row:nth-child(1){
            border-bottom: solid 1px $primary-color;
            padding-bottom: 20px;
            margin-bottom: 0px;
        }
        .brand-logo{
            color: $primary-color;
            font-weight: bold;
            padding-top: 20px;
        }
        .close_nav{
            font-size: 15px;
            padding-top: 20px;
            text-align: right;
            a{
                color: $primary-color;
            }
            span{
                font-size: 10px;
            }
        }
        .collapsible{
            margin-left: 10px;
        }
        .close_nav a:hover{
            background-color: #fff;
            color: $primary-color;
        }
        h2{
            color: #fff;
        }
        text-align: left;
        .background{
            background-color: #0087E2;
        }
        li a{
            color: #333;
            font-size: 15px;
            padding-left: 12px;
            font-weight: 300;
            //text-shadow: 0.5px 0.5px 0px rgba(0,0,0,0.3);
        }

        li a:hover{
            background-color: lighten($primary-color, 40%);
            color: $primary-color;
            font-weight: bold;
            font-size: 16px;
        }
    }
</style>