<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/themify/themify-icons.css">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/animate/animate.css">
    <link rel='stylesheet' href="<%= BASE_URL %>plugin/materialize/materialize.min.css">
    <title>domingobooks</title>

    <style>
      .progress{
        margin: 0px !important;
        /* background-color: #e13384 !important; */
        position: fixed !important;
        z-index: 9999 !important;
      }

      #onlinestatus{
       z-index: 99999 !important;
       margin: 0px !important;
       position: fixed !important;
       width: 100% !important;
       text-align: center !important;
       display: "none" !important;
      }

      #onlinestatus #onlinestat{
        color: white;
        background-color:green;
        display: "none" !important;
      }

      #onlinestatus #offlinestat{
        margin-top: -5px !important;
        color: red;
        background-color: ghostwhite;
        display: "none" !important;
      }
    </style>
  </head>
  <body>
      <script src="<%= BASE_URL %>plugin/materialize/materialize.min.js"></script>
      <script type="text/javascript" src="<%= BASE_URL %>plugin/sweetalert/sweetalert.min.js"></script>
      <script type="text/javascript" src="<%= BASE_URL %>plugin/epubjs/js/epub.js"></script>
      <script type="text/javascript" src="<%= BASE_URL %>plugin/epubjs/js/zip.min.js"></script>
      <script src="https://js.paystack.co/v1/inline.js"></script>
      <script type="text/javascript" src="<%= BASE_URL %>plugin/jepub/js/jepub.min.js"></script>
      <script type="text/javascript" src="<%= BASE_URL %>plugin/jepub/js/ejs.min.js"></script>
    <noscript>
      <strong>We're sorry eanble your JavaScript to continue.</strong>
    </noscript>
    <div id="progressbar">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </div>
    <div id="onlinestatus">
      <div id="onlinestat">Connection Back</div>
      <div id="offlinestat">No Connection</div>
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>