<template>
	<div class="bookinfo">
		<MainMenu/>
		<section id="book_section">
            <div class="row">
                <div class=" col s12 m2 book_order offset-m1">
                    <div class="card">
						<div class="row">
							<div class="col s4 m12 card-image">
								<img :src="default_url + bookinfo.cpath + bookinfo.coverpic" v-show="(bookinfo.coverpic) && (bookinfo.coverpic.length > 6) && (bookinfo.coverpic !== undefined)">
								<img src="../assets/images/imagenotavailable.png" v-show="(bookinfo.coverpic.length <= 6 ) || (!bookinfo.coverpic) || (bookinfo.coverpic == null) || (bookinfo.coverpic == undefined)">
							</div>
							<div class="col s8 m12 card-desc">
								<div class="book_title">
									{{bookinfo.title}}
								</div>
								<div class="book_author">
									{{bookinfo.author}}
								</div>
								<div class="row book_stat">
									<div class="col s4">
										<span class="ti ti-comments"></span> {{bookinfo.comments}}
									</div>
									<div class="col s4">
										<span class="ti ti-eye"></span> {{bookinfo.reads}}
									</div>
									<div class="col s4">
										<span class="ti ti-star"></span> {{bookinfo.rating}}
									</div>
								</div>
								<div v-if="Number(bookinfo.price) > 10">
									<button :disabled="ContinueBtn ? false : true" class="btn btn-small" v-on:click.prevent="BuyBook(bookinfo)">BUY FOR &#8358; {{ Number(bookinfo.price).toLocaleString() }}</button>
								</div>
								
								<div v-if="Number(bookinfo.price) == 0">
									<button :disabled="ContinueBtn ? false : true" class="btn btn-small" v-on:click.prevent="BuyBook(bookinfo)"> BUY FOR &#8358; {{ Number(bookinfo.price).toLocaleString()}}</button>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="col s12 m8 book_about">
					<div class="text_block">
						<span class="header"> ABOUT THE BOOK</span>
						<hr/>
						<div class="desc">
							{{ bookinfo.description }}
						</div>
						<div class="book_comments">
							<div class="row">
								<div class="col s12">Kindly drop a comment below</div>
								<div class="input-field col s8">
									<textarea id="textarea1" class="materialize-textarea"></textarea>
									<label for="textarea1">Comments</label>
								</div>
								<div class="col s4">
									<button class="btn">
										Send <span class="ti ti-send"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</section>
		<AddDeposit/>
		<Notify v-bind:notifymsg="notify"/>
		<RecommendedBooks/>
        <MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import RecommendedBooks from "@/components/RecommendedBooks.vue";
	import MainBase from "@/allservices/controller/MainBase.js";
	import AddDeposit from "@/components/modal/AddDeposit.vue";
	import Notify from "@/components/modal/Notify.vue";

	export default {
		name: "bookinfo",
		components: {
			MainMenu, MainFooter, RecommendedBooks, AddDeposit, Notify
		},
		data: function(){
        	return{
				app_name: this.$appName,
				default_url: this.$defaultURL,
				bookinfo: "",
				progress_status: false,
				notify: {
					msg: ""
				}
			};
		},
		mounted: function(){
			M.AutoInit();
			setTimeout(this.goToTop(), 3000);
			let elem= document.querySelectorAll('.modal');
			let instance = M.Modal.init(elem, {dismissible: false});
			MainBase.removeProgressBar();
			//this.goToTop();

		},
		created: function(){
			var process_d = MainBase.getSessionItem("bookinfo");

			if(process_d.hasOwnProperty("book")){
				if(process_d.book.hasOwnProperty("readbookinfo")){
					this.bookinfo = process_d.book.readbookinfo;
				}else{
					this.$router.push('/');
				}
			}else{
				this.$router.push('/');
			}
		},
		computed: {
            ContinueBtn:{
                get: function(){
                    if(this.progress_status){
                        return false;
                    }else{
                        return true;
                    }
                },
                set: function(){
                    
                }
            }
        },
		methods:{
			goToTop: function(){
				//alert("hey");
				let goT = 0;
				window.scroll({
					top: 0,
					left: 0,
					behavior: 'smooth'
				});
			},
			BuyBook: function(bookdata){
				if(MainBase.readerLoggedIn()){
					swal({
						title: "You will be billed",
						text: "You will be billed", 
						icon: "info",
						buttons: true,
						//confirmButtonText: 'Continue Payment',
						dangerMode: true,
						confirm: {
							text: "Yes Pay",
							value: true,
							visible: true,
							className: "",
							closeModal: true
						}
					})
					.then((willDelete) => {
						if (willDelete) {
							let process_d = MainBase.getSessionItem("process_data");
							let d_data = {
								id: process_d.id,
								email: process_d.email,
								jauth: process_d.jauth,
								username: process_d.username,
								bookid: bookdata.id
							};

							MainBase.showProgressBar();
							this.progress_status = true;
							let done_2 = MainBase.buyBook(d_data);
							done_2.then(data =>{
								let cc_response = data;
								if(cc_response.code == 200){
									MainBase.removeProgressBar();
									MainBase.alert("success", cc_response.message);
									this.$router.push("userdashboard");
									//this.progress_status = false;
								}
								
								if(cc_response.code == 400){
									MainBase.removeProgressBar();
									if(cc_response.hasOwnProperty("data")){
										if(cc_response.data.hasOwnProperty("error")){
											if(cc_response.data.error.code == 420){
												if(MainBase.getSessionItem("t_reference")){
													var r_id = MainBase.getSessionItem("t_reference");
													
													let v_done = MainBase.verifyPay(r_id);
													v_done.then(data=>{
														let v_response = data;
														if(v_response.code == 200){
															let done_2 = MainBase.buyBook(d_data);
															done_2.then(data =>{
																let cc_response = data;
																if(cc_response.code == 200){
																	//this.progress_status = false;
																	MainBase.alert("success", cc_response.message);
																	this.$router.push("userdashboard");
																	MainBase.removeSessionItem("t_reference");
																}
																
																if(cc_response.code == 400){
																	this.progress_status = false;
																	if(cc_response.hasOwnProperty("data")){
																		if(cc_response.data.hasOwnProperty("error")){
																			if(cc_response.data.error.code == 420){
																				this.progress_status = false;
																				MainBase.removeProgressBar();
																				process_d.notify = {
																					message: cc_response.data.error.message,
																					pspk: cc_response.data.pspk
																				};
																				this.notify.msg = cc_response.data.error.message;
																				MainBase.setSessionItem("process_data", JSON.stringify(process_d));
																				MainBase.openModal("notify_me");
																			}

																		}
																	}
																}
															});
														}
													});
												}else{
													process_d.notify = {
														message: cc_response.data.error.message,
														pspk: cc_response.data.pspk
													};
													MainBase.setSessionItem("process_data", JSON.stringify(process_d));
													this.notify.msg = cc_response.data.error.message;
													this.progress_status = false;
													this.progress_status = false;
													MainBase.removeProgressBar();
													MainBase.openModal("notify_me");
												}
											}
										}else{
											MainBase.alert("error", cc_response.message);
											//alert(cc_response.message);
										}
									}
								}
							});
						} else {
							//swal("Your imaginary file is safe!");
						}
					});
				}else{
					MainBase.alert("info", "Please you need to login");
				}	
				//MainBase.fundWallet();
			}
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	section{
		padding: 50px;
	}

    #book_section{
		min-height: auto;
		background-color: #ddd;
		padding: 10px 5px 5px 5px !important;

		.book_about{
			background-color: #ffffffb7;
			margin-top: 10px;
			min-height: 400px;
			.text_block {
				margin-top: 10px;
				padding: 20px;
				//background-color: #fff;
				min-height: 300px;
					
				.header{
					
					font-weight: bold;
					text-transform: uppercase;
					font-size: 18px;
				}

				hr{
					color: #ccc;
				}

				.desc{
					//font-size: 15px;
					text-align: left;
				}
				.book_comments{
					padding-top: 40px;
					text-align: left;
				}

			}
		}

		.card{
			padding: 10px 10px 2px 10px;
			text-align: left;
			background-color: #ffffffb7;
			height: auto;

			.card-image{
				min-height: 200px;
				max-height: 200px;

				img{
					max-height: 200px;
					height: 100%;
					width: 100%;
				}
			}

			.card-desc{
				.book_title{
					font-size: 18px;
					font-weight: bold;
				}

				.book_author{
					font-size: 13px;
				}

				.book_stat{
					//font-weight: bold;
					padding-top: 10px;
					margin-bottom: 0px;
				}

				.btn{
					width: 100%;
					background-color: $primary-color;
				}
			}
		}
    }
	@media screen and (max-width: 480px) {
        #book_section{
			.book_order{
				.card{
					max-height: 150px;
					height: 100%;
				}
			}

			.card{
				.card-image{
					min-height: 140px;
					max-height: 140px;
				}
			}
		}
    }
</style>