<template>
	<div class="bookstore">
		<MainMenu/>
		<section id="bookcategory_section" class="fixed">
			<div class="text_block">
				<span class="ti ti-building"></span> Select Book Category
			</div>
			<div class="text_block">
				<select class="browser-default" v-model="selected_cat" v-on:change="GetBookByCat(selected_cat)">
					<option :value="{value: selected_cat.value, text:selected_cat.text}" selected>-- {{selected_cat.text}} --</option>
					<option :value="{value: all_cat.id, text:all_cat.cat}" v-for="(all_cat, index) in parent_cat" :key="index"> {{all_cat.cat}}</option>
				</select>
			</div>
		</section>
		<section id="books_section">
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
			<div class="row" v-show="avail_book">
				<div class="" v-show="doc_ready">
					<div class="row">
						<h6 class="see_label">{{see_label}}</h6>
						<hr/>
						<div class="col s12 m3" v-for="(bb, index) in store_books" :key="index">
							<div  class="card" v-on:click.prevent="goToBookInfo(bb)">
								<div class="row">
									<div class="card-image col s6">
										<!-- <img src="../assets/images/book-scc.png"> -->
										<img :src="default_url + bb.cpath + bb.coverpic" v-show="bb.coverpic.length > 6">
										<img src="../assets/images/imagenotavailable.png" v-show="(bb.coverpic.length <= 6 ) || (!bb.coverpic) || (bb.coverpic == null)">
									</div>
									<div class="col s6 card-desc">
										<div class="book_title">
											{{bb.title}}
										</div>
										<div class="book_author">
											{{bb.author}}
										</div>
										<div class="book_stat">
											<span class="ti ti-eye"></span> {{bb.read}} read &nbsp; &nbsp;
											<span class="ti ti-star"></span> {{bb.rating}}
										</div>
										<div v-if="Number(bb.price) > 10" class="book_cost">
											&#8358; {{bb.price}}
										</div>
										<div v-if="Number(bb.price) == 0" class="book_cost">
											Free
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row pagination">	
						<div class="col s12 ">
							<button :disabled="Previous_ContinueBtn ? false : true" class="btn" v-on:click.prevent="PreviousView">Previous</button>
							&nbsp; Page {{ pagestart }} &nbsp;
							<button class="btn" v-on:click.prevent="NextView">Next</button>
						</div>
					</div>
				</div>
			</div>

			<div class="row" v-if="!avail_book">
				<div class="col s12 no_read" v-show="doc_ready">
					{{ avail_msg }}
				</div>
			</div>
		</section>
		<RecommendedBooks/>
        <MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import RecommendedBooks from "@/components/RecommendedBooks.vue";
	import MainBase from "@/allservices/controller/MainBase.js";

	export default {
		name: "bookstore",
		components: {
			MainMenu, MainFooter, RecommendedBooks
		},
		data: function(){
        	return{
				app_name: this.$appName,
				default_url: this.$defaultURL,
				//defaultcover: require('../assets/images/book-scc.png'),
				doc_ready: false,
				avail_book: false,
				avail_msg: "",
				see_label: 'All Categories',
				pagestart: 1,
				pagelimit: "10",
				//totalpage: "1",
				store_books: "",
				selected_cat: {
					value: "0",
					text:"All Categories"
				},
				parent_cat: "",
				progress_status: {
					next: false,
					previous: false
				}
			};
		},
		computed: {
            Next_ContinueBtn:{
                get: function(){
                    if(this.progress_status.next){
                        return false;
                    }else{
						if(this.progress_status.next){
							return false;
						}else{
							return true;
						}
                    }
                },
                set: function(){
                    
                }
			},
			
			Previous_ContinueBtn:{
				get: function(){
                    if(this.progress_status.previous){
                        return false;
                    }else{
						if(Number(this.pagestart) <= 1){
							return false;
						}else{
							return true;
						}
                    }
                },
                set: function(){
                    
                }
			}
        },
		mounted: function(){
			M.AutoInit();
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
			//MainBase.showProgressBar();
			let ddata = {
				pagelimit: this.pagelimit,
				pagestart: this.pagestart,
				catid: this.selected_cat
			}
			MainBase.showProgressBar();
			let done_ = MainBase.viewStore(ddata);
			done_.then(data =>{
				var v_response = data;
				if(v_response.code == 200){
					if(v_response.data.hasOwnProperty('book')){
						this.store_books = v_response.data.book;
						this.doc_ready = true;
						this.avail_book = true;
						MainBase.removeProgressBar();
						this.pagestart = Number(v_response.data.pagestart);
						this.pagelimit = v_response.data.pagelimit;

						let done2_ = MainBase.getCatLang(ddata);
						done2_.then(data =>{
							let cc_response = data;
							if(cc_response.code == 200){
								if(cc_response.data.hasOwnProperty('category')){
									this.parent_cat = cc_response.data.category;
								}
							}else{
								MainBase.alert("error", "Hi couldn't get the category");
							}
						});
					}else{
						//alert(c_response.message);
					}
				}else{
					MainBase.alert("info", v_response.message);
					MainBase.removeProgressBar();

					this.doc_ready = true;
					this.avail_book = false;
					this.avail_msg = v_response.message;
					MainBase.removeProgressBar();
				}
			});
		},
		created: function(){
			
		},
		methods: {
			GetBookByCat: function(new_d){
				//alert("Hey you");
				this.see_label = new_d.text;
				this.selected_cat = new_d;
				this.GetStore();
				this.goToTop();
			},

			GetStore: function(){
				let ddata = {
					pagelimit: this.pagelimit,
					pagestart: this.pagestart,
					catid: this.selected_cat.value
				}
				MainBase.showProgressBar();
				this.doc_ready = false;
				let done_ = MainBase.viewStore(ddata);
				done_.then(data =>{
					let c_response = data;
					if(c_response.code == 200){
						if(c_response.data.hasOwnProperty('book')){
							this.store_books = c_response.data.book;
							this.doc_ready = true;
							this.avail_book = true;
							MainBase.removeProgressBar();
							this.pagestart = c_response.data.pagestart;
							this.pagelimit = c_response.data.pagelimit;

							let done2_ = MainBase.getCatLang(ddata);
							done2_.then(data =>{
								let cc_response = data;
								if(cc_response.code == 200){
									if(cc_response.data.hasOwnProperty('category')){
										this.parent_cat = cc_response.data.category;
									}
								}else{
									MainBase.alert("error", cc_response.message);
								}
							});
						}else{
							//alert(c_response.message);
						}
					}else{
						this.doc_ready = true;
						this.avail_book = false;
						this.avail_msg = c_response.message;
						//MainBase.alert("info", c_response.message);
						MainBase.removeProgressBar();
					}
				});
			},

			PreviousView: function(){
				var cal_p = Number(this.pagestart) - 1;
				if(cal_p > 0){
					let ddata = {
						pagelimit: this.pagelimit,
						pagestart: cal_p,
						catid: this.selected_cat.value
					}
					this.GetPaginateBooks(ddata, "previous");
				}
			},

			NextView: function(){
				var cal_p = Number(this.pagestart) + 1;
				if(cal_p > 0){
					let ddata = {
						pagelimit: this.pagelimit,
						pagestart: cal_p,
						catid: this.selected_cat.value
					}
					this.GetPaginateBooks(ddata, "next");
				}
			},

			GetPaginateBooks: function(ddata, s_t){
				if(s_t == "previous"){
					this.progress_status.previous = true;	
				}
				if(s_t == "next"){
					this.progress_status.next = true;
				}
				MainBase.showProgressBar();
				this.doc_ready = false;
				let done_ = MainBase.viewStore(ddata);
				done_.then(data =>{
					var v_response = data;
					if(v_response.code == 200){
						if(v_response.data.hasOwnProperty('book')){
							this.store_books = v_response.data.book;
							this.pagestart = Number(v_response.data.pagestart);
							this.pagelimit = v_response.data.pagelimit;

							this.doc_ready = true;
							MainBase.removeProgressBar();

							if(s_t == "previous"){
								this.progress_status.previous = false;
								
							}
							if(s_t == "next"){
								this.progress_status.next = false;
							}
						}
					}
					if(v_response.code == 400){
						MainBase.alert("info", v_response.message);
					}

					if(v_response.code == 400){
						MainBase.removeProgressBar();

						if(s_t == "next"){
							this.progress_status.next = false;
							this.doc_ready = true;
						
							MainBase.alert("info", v_response.message);
						}
					}
				});
				
			},

			goToBookInfo: function(book_info){
				var process_d = MainBase.getSessionItem("bookinfo");
				if(process_d){
					this.GoBookInfo(book_info);
				}else{
					this.GoBookInfo(book_info);
				}
			},
			GoBookInfo: function(book_info){
				MainBase.showProgressBar();
				var process_d = {
					book: {
						readbookinfo: book_info	
					}
				};
				MainBase.setSessionItem("bookinfo", JSON.stringify(process_d));
				this.$router.push('/bookinfo');
			},
			goToTop: function(){
				window.scroll({
					top: 0,
					left: 0,
					behavior: 'smooth'
				});
			}
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";

	section{
		padding: 50px;
	}

	#bookcategory_section{
		background-color: #eac7c7;;
		color: #333;
		padding: 10px;
		position: fixed !important;
		width: 100%;
		z-index: 1;
		
		//margin
		.text_block:nth-child(1){
			//margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 14px;
			text-align: center;
			text-transform: capitalize;
			font-weight: bold;
			line-height: 35px;
		}
		.text_block:nth-child(2){
			padding: 0 50px 0 50px;
		}
	}

    #books_section{
		margin-top: 70px;
		padding: 50px 20px 20px 20px;
		text-align: left;
		min-height: 400px;

		.p_wait{
			text-align: center;
		}
		.see_label{
			color: #bbb;
		}
		hr{
			color: #ccc;
		}
		.card{
			
			padding: 0px 10px 0px 10px;
			
			box-shadow: 1px 1px 6px 0 #cfcaca;
			text-align: center;
			text-decoration: none;
			max-width: 100%;
			min-width: 100%;
			max-height: 150px;
			min-height: 150px;
			height: 100%;
			display: inline-block;
			cursor: pointer;
			//margin: 0px;
			
			.row{
				margin-bottom: 0px;
				.card-desc{
					text-align: left;
					.book_title{
						font-size: 18px;
						padding-top: 10px;
						font-weight: bold;
					}

					.book_author{
						font-size: 13px;
						padding-bottom: 10px;
					}
					.book_desc{
						color: #787878;
						//text-align: left;
					}
					.book_stat{
						margin-bottom: 0px;
						font-size: 12px;
					}
					.book_cost{
						font-weight: bold;
						color: $primary-color;
						font-size: 16px;
					}
				}

				.card-image{
					padding: 0px;
					max-width: 110px;

					img{
						//max-height: 140px;
						min-height: 150px;
						height: 100%;
						max-width: 100px;
						min-width: 100px;
						width: 100%;
					}
				}

				

				.btn{
					background-color: $primary-color;
				}
			}
		}

		.pagination{
			.btn{
				font-size: 12px;
			}
			padding-top: 10px;
			text-align: center;
			font-size: 12px !important;
			margin: 50px 0px 0px 0px;
		}
	}

	

</style>
