<template>
	<div class="home">
		<MainMenu/>
		<section id="slide_section">			
			<div class="slider">
				<ul class="slides">
					<li>
						<img src="../assets/images/paper_view/book_career.jpg"> <!-- random image -->
						<div class="caption right-align">
							<h3>DIGITIZING BOOKS IN LOCAL LANGUAGES</h3>
							<h6 class="light grey-text text-lighten-3">
								We are helping locals discover the bliss of reading by
								making books in their native languages<br/> accessible on feature phones.
							</h6>
						</div>
					</li>
					<li>
						<img src="../assets/images/paper_view/book_stand.png"> <!-- random image -->
						<div class="caption left-align">
							<h3>BREAKING STEREOTYPES</h3>
							<h6 class="light grey-text text-lighten-3">
								A farmer in Northern Nigeria by-passes cultural boundaries to become a romance novel writer and makes over half a million naira..
							</h6>
						</div>
					</li>
					<li>
						<img src="../assets/images/paper_view/books_free.jpg"> <!-- random image -->
						<div class="caption right-align">
							<h3>
								 MAKING PUBLISHING AFFORDABLE 
							</h3>
							<h6 class="light grey-text text-lighten-3">
								Over 27,000 Books Published.
								It costs an average of 1.5 Million Naira to publish a book in Nigeria but with {{app_name}}, 8,000 writers have become authors at no cost.
							</h6>
							<button class="btn domingo-color ">PUBLISH A BOOK</button>
						</div>
					</li>
					<li>
						<img src="../assets/images/paper_view/bookshelf.png"> <!-- random image -->
						<div class="caption right-align">
							<h3>EXPLORE OUR LIBRARY</h3>
							<h6 class="light grey-text text-lighten-3">
                                Live a thousand lives with over 27,000 original<br/>
                                African books written by authors contributing to
                                improve literacy.
							</h6>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section id="stat1_section">
			<div class="row">
				<div class="col s12 m3">
					<div class="stat_number animated bounce">500,000,000</div>
					<div class="stat_desc">Pages Read Annually</div>
				</div>
				<div class="col s12 m3">
					<div class="stat_number animated bounce">27,000</div>
					<div class="stat_desc">Books in Library</div>
				</div>
				<div class="col s12 m3">
					<div class="stat_number animated bounce">84,000,000</div>
					<div class="stat_desc">Total Minutes Spent Reading</div>
				</div>
				<div class="col s12 m3">
					<div class="stat_number animated bounce">280,000</div>
					<div class="stat_desc">Happy Readers</div>
				</div>
			</div>
		</section>
		<section id="info1_section">
			<div class="text_block">
					1 out of 3 Nigerians <strong>cannot read!</strong> <br/>
					We are utilizing mobile technology across Sub-Saharan Africa to build a nation where <br/>
					books are available and affordable, so that<br/>
					<span class="note_bold">EVERYONE HAS ACCESS TO READ</span>
			</div>
		</section>
		<section id="info2_section">
			<div class="text_block">
				<span class="note_bold">FIGHTING ILLITERACY THROUGH LITERACY PROGRAMS</span><br/>
				<span class="ti ti-arrow-down"></span>
			</div>
			<div class="text_block">
				Through the support of the community and our partners, we are organizing outreach<br/>
				programs to foster and spread literacy.
			</div>
			<div class="row ">
				<div class="col s12">
					<div class="row ">
						<div class="col s12 m4 offset-m2">
							<img src="../assets/images/paper_view/book_stand.png">
						</div>
						<div class="col s12 m4 ">
							<img src="../assets/images/tfn-impact.jpg">
						</div>
					</div>
					<div class="row ">
						<div class="col s12 m4 offset-m2">
							<img src="../assets/images/bestseller-impact.jpg">
						</div>
						<div class="col s12 m4 ">
							<img src="../assets/images/paper_view/book_stand.png">
						</div>
					</div>
				</div>
			</div>
		</section>
		<PopularBooks/>
		<section id="info4_section">
			<div class="text_block">
				MILLIONS OF ADULTS ACROSS THE GLOBE ARE NOT LITERATE
			</div>
			<div class="row">
				<div class="col m12 s12">
					<iframe class="embedly-embed" src="http://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FVu5o5Ruh6is%3Ffeature%3Doembed&amp;url=http%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DVu5o5Ruh6is&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FVu5o5Ruh6is%2Fhqdefault.jpg&amp;key=96f1f04c5f4143bcb0f2e68c87d65feb&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" allow="autoplay; fullscreen" allowfullscreen="true" frameborder="0"></iframe>
				</div>
			</div>
		</section>
		<section id="partners_section">
			<div class="text_block">
				Teaming up for powerful Impact
			</div>
			<div class="text_block">
				Our partners have worked with us to deliver even more innovative, effective and successful projects and programmes, and their support has been vital in achieving our Mission and Vision.
			</div>
			<div class="row">
				<div class="col s12 m3">
					<img src="../assets/images/pat-samsung.png">
				</div>
				<div class="col s12 m3">
					<img src="../assets/images/pat-tfn.png">
				</div>
				<div class="col s12 m3">
					<img src="../assets/images/pat-union.png">
				</div>
				<div class="col s12 m3">
					<img src="../assets/images/pat-google.png">
				</div>
			</div>
		</section>
		<section id="info6_section">
			<div class="text_block">
				SPONSOR A YEAR OF READING
			</div>
			<div class="text_block">
				Do you share in our vision to eradicate illiteracy?
				Then support us and be a part of our success story!<br/>
				We empower people to become life-long, independent readers.<br/>
				With your contribution, we can reach more people and change more lives. 
			</div>
			<a href="#" class="btn">
				CHANGE A LIFE
			</a>
		</section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import MainBase from "@/allservices/controller/MainBase.js";
	import PopularBooks from "@/components/PopularBooks.vue";

	export default {
		name: "home",
		components: {
			MainMenu, MainFooter, PopularBooks
		},
		data: function(){
        	return{
				app_name: this.$appName,
			};
		},
		mounted: function(){
			
			MainBase.removeProgressBar();
			M.AutoInit();
			var elems = document.querySelectorAll('.slider');
			let options = {
				intervals: 200,
				height: 500,
				indicators: true
			}
			var instances = M.Slider.init(elems, options);

			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
			

			//M.AutoInit();

			//var instance = M.Carousel.getInstance(elems, {duration: 200, fullWidth: true});
			//var instances = M.Carousel.init(elems,{duration:200})
		},
		/*
		created: function() {
			window.addEventListener('scroll', this.handleScroll());
		},
		destroyed: function() {
			window.removeEventListener('scroll', this.handleScroll());
		},
		*/
		methods: {
			goToBookInfo: function(b_num){
				this.$router.push('/bookinfo');
			}
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	section{

		padding: 50px;
	}

	#slide_section{
		//top: 0;
		padding: 0px 0px 0px 0px;
		width: 100%;
		margin-bottom: 0px;
		
		//margin-top: 0px;

		.slider{
			
			max-height: 500px;
			.slides{
				li{
					z-index: 0;
				}

				.caption{
					font-family: Oswald, sans-serif;
					background-color: #f1ecec8e;
					padding: 15px 15px 30px 15px;
					border-radius: 5px;
					margin-top: 45px;
					h3{
						text-transform: uppercase;
						color: #280d0d;
						font-weight: bold;
						font-size: 30px;
					}

					h6{
						color: #333 !important;
						font-family: "PT Sans", sans-serif;
					}
				}
			}
		}
	}

	#stat1_section{
		background-color: lighten($primary-color, 1%);
		color: #eee;
		
		.stat_number{
			margin-top: 15px;
			font-size: 30px;
			font-weight: 100;
		}

		.stat_desc{
			margin-bottom: 10px;
			font-size: 13px;
		}
	}

	#info1_section{
		.text_block{
			width: 80%;
			margin-right: auto;
			margin-left: auto;
			background-color: transparent;
			font-family: "PT Sans", sans-serif;
			color: #5e5e5e;
			font-size: 24px;
			line-height: 35px;
			font-weight: 400;
			text-align: center;

			.note_bold{
				font-size: 40px;
				font-weight: bold;
				color: #333;
				line-height: 60px;
			}
		}
	}

	#info2_section{
		background-color: #f2f2f2;
		
		.text_block:nth-child(1){
			font-family: Oswald, sans-serif;
			font-size: 25px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			line-height: 30px;
		}

		.text_block:nth-child(2) {
			margin-top: 20px;
			padding-right: 10%;
			padding-left: 10%;
			font-family: "PT Sans", sans-serif;
			color: #5e5e5e;
			font-size: 20px;
			text-align: center;
			text-transform: none;
			margin-bottom: 20px;
		}

		img{
			width: 100%;
		}
	}

	#info4_section{
		background-color: #f2f2f2;
				
		.text_block:nth-child(1){
			margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 20px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 35px;
		}

		iframe{
			width: 100%;
			height: 100%;
			min-height: 600px;
		}
	}

	#partners_section{

		.row{
			img{
				width: 100%;
			}
		}
		
		.text_block:nth-child(1){
			background-color: transparent;
			font-family: Oswald, sans-serif;
			font-size: 36px;
			line-height: 70px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
		}



		.text_block:nth-child(2){
			width: 70%;
			margin-right: auto;
			margin-left: auto;
			font-family: "PT Sans", sans-serif;
			color: #5e5e5e;
			font-size: 20px;
			line-height: 30px;
			font-weight: 400;
			text-align: center;
		}
	}

	#info6_section{
		background-color: lighten($primary-color, 20%);
		.text_block:nth-child(1){
			margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 34px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 35px;
		}

		.text_block:nth-child(2){
			margin-top: 20px;
			font-family: "PT Sans", sans-serif;
			color: #404040;
			font-size: 20px;
			font-weight: 400;
			text-align: center;
			margin-bottom: 20px;
		}
	}

	@media only screen and (max-width: 600px) {
		#slide_section{
			.slides{
				.caption{
					margin-top: -5px !important;
				}
			}
		}

		#info4_section{
			padding: 50px 5px 50px 5px !important;
		}
	}
</style>
