<template>
	<div class="mypublished">
		<MainMenu/>
		<section id="userstat_section" class="fixed">
            <div class="text_block">
				<div class="row">
					<div class="col m6 s3">
						<span class="ti ti-book"></span> : <span class="value"><a href="#">{{numbooks}}</a></span><br/>
					</div>
					<div class="col m6 s9">
						<a href="#">
							<span class="ti ti-wallet"></span> Earnings: <span class="value">&#8358;{{Number(balance).toLocaleString()}}</span>
						</a> &nbsp; | &nbsp;
						<a href="#" v-on:click.prevent="MakeWithdrawal"><span class="ti ti-credit-card"></span> Withdrawal</a>
					</div>
				</div>
			</div>
		</section>
		<section id="data_section">
			<div class="row" v-show="avail_book">
				<div class="" v-show="doc_ready">
					<div v-show="pending_wit.status">
						Pending Withdrawall: &#8358;{{Number(pending_wit.value).toLocaleString()}}
					</div>
					<ul class="collapsible">
						<li class="active">
							<div class="collapsible-header">
								<i class="ti ti-angle-down"></i>
								<span class="text">My Books</span>
							</div>
							<div class="collapsible-body">
								<table class="highlight hide-on-small-only">
									<thead>
										<tr>
											<th>Title</th>
											<th>Author</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(bb, index) in myreads" :key="index">
											<td>{{bb.title}}</td>
											<td>
												{{bb.author}}
											</td>
										</tr>
									</tbody>
								</table>
								<div class="show-on-small hide-on-med-and-up">
									<div class="" v-for="(bb, index) in myreads" :key="index">
										<span class="label"><span class="ti ti-file"></span> Title:</span> {{bb.title}}<br/>
										<span class="label"><span class="ti ti-user"></span> Author:</span> {{bb.author}}<br/>
										<hr/>
									</div>
								</div>
								<div class="row pagination">
									<div class="col s12 ">
										<button :disabled="Previous_ContinueBtn ? false : true" class="btn" v-on:click.prevent="PreviousView">Previous</button>
										&nbsp; Page {{ pagestart }} &nbsp;
										<button :disabled="Next_ContinueBtn ? false : true" class="btn" v-on:click.prevent="NextView">Next</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="totop">
					<a href="#" v-on:click.prevent="GoToTop">Go To Top <span class="ti ti-arrow-up"></span></a>
				</div>
			</div>
			
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
			<div class="row" v-if="!avail_book">
				<div class="col s12 no_read" v-show="doc_ready">
					{{ avail_msg }}<br/>
					<p>
						<a href="#publishbook" v-on:click.prevent="GoPublishBook"> Click Here</a> to publish a book
					</p>
				</div>
			</div>
		</section>
		<MakeWithdrawal/>
		<RecommendedBooks/>
        <MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import RecommendedBooks from "@/components/RecommendedBooks.vue";
	import MainBase from "@/allservices/controller/MainBase.js";
	import MakeWithdrawal from "@/components/modal/MakeWithdrawal.vue";

	export default {
		name: "mypublished",
		components: {
			MainMenu, MainFooter, RecommendedBooks, MakeWithdrawal
		},
		data: function(){
        	return{
				app_name: this.$appName,
				default_url: this.$defaultURL,
				doc_ready: false,
				avail_book: false,
				avail_msg: "",
				selected_cat: {
					value: "0",
					text:"All Categories"
				},
				see_label: 'Recently Published',
				myreads: "",
				parent_cat: [
					{
						id: "1",
						title: "Recently Published"
					},
					{
						id: "2",
						title: "Featured Books"
					},
					{
						id: "3",
						title: "Most Read"
					}
				],
				numbooks: "0",
				balance: "0",
				progress_status: {
					next: false,
					previous: false
				},
				pagestart: "1",
				pagelimit: "10",
				pending_wit:{
					status: false,
					value: "0"
				}
			};
		},
		computed: {
            Next_ContinueBtn:{
                get: function(){
                    if(this.progress_status.next){
                        return false;
                    }else{
						if(Number(this.pagestart) > 0){
							return true;
						}else{
							return false;
						}
                    }
                },
                set: function(){
                    
                }
			},
			
			Previous_ContinueBtn:{
				get: function(){
                    if(this.progress_status.previous){
                        return false;
                    }else{
						if(Number(this.pagestart) <= 1){
							return false;
						}else{
							return true;
						}
                    }
                },
                set: function(){
                    
                }
			}
        },
		mounted: function(){
			M.AutoInit();
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
			if(!(MainBase.readerLoggedIn())){
				this.$router.push('/');
			}
		},
		created: function(){
			if(MainBase.readerLoggedIn()){
				var process_d = MainBase.getSessionItem("process_data");
				if(process_d){
					let d_data = {
						id: process_d.id,
						email: process_d.email,
						jauth: process_d.jauth,
						username: process_d.username,
						pagestart: this.pagestart,
						pagelimit: this.pagelimit
					};
					this.doc_ready = false;
					MainBase.showProgressBar();
					let done_ = MainBase.myBooks(d_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.code == 200){
							MainBase.removeProgressBar();
							if(c_response.data.hasOwnProperty('book')){
								if(c_response.data.book != null){
									this.myreads = c_response.data.book;
									this.doc_ready = true;
									this.avail_book = true;
									this.pagestart = c_response.data.pagestart;
									this.pagelimit = c_response.data.pagelimit;
									this.numbooks = c_response.data.numbooks;
									this.balance = c_response.data.balance;
									process_d.earning = c_response.data.balance;
									if(c_response.data.hasOwnProperty("pending")){
										this.pending_wit.status = true;
										this.pending_wit.value = c_response.data.pending;
										process_d.pending_wit = c_response.data.pending;
									}
									MainBase.setSessionItem("process_data", JSON.stringify(process_d));
								}else{	
									this.doc_ready = true;
									this.avail_msg = c_response.message;
									this.avail_book = false;
									this.numbooks = c_response.data.numbooks;
									this.balance = c_response.data.balance;

									process_d.earning = c_response.data.balance;
									
									if(c_response.data.hasOwnProperty("pending")){
										this.pending_wit.status = true;
										this.pending_wit.value = c_response.data.pending;
										process_d.pending_wit = c_response.data.pending;
									}
									MainBase.setSessionItem("process_data", JSON.stringify(process_d));
								}
							}else{
								MainBase.alert("error", "Something wrong somewhere");
							}
						}
						if(c_response.code == 400){
							MainBase.removeProgressBar();
							this.doc_ready = true;
							this.avail_msg = c_response.message;
							this.avail_read = false;
							//alert(c_response.message);
						}
						if(c_response.code == 404){
							MainBase.logoutUser();
						}
					});
				}else{
					this.$router.push('/');
				}
			}else{
				MainBase.logoutUser();
			}
		},
		methods: {
			GetBookByCat: function(new_d){
				//alert("Hey you");
				this.see_label = new_d;
				this.goToTop();
			},

			goToBookInfo: function(b_num){
				//this.goToTop();
				this.$router.push('/bookinfo');
			},

			MakeWithdrawal: function(){
				MainBase.openModal("make_withdrawal");
				
				var p = setInterval(this.UpdateWallet, MainBase.updateIntervalTime());
				setTimeout(function() { clearInterval(p); }, MainBase.clearIntervalTime());
			},

			UpdateWallet: function(){
				if(MainBase.readerLoggedIn()){

					var process_d = MainBase.getSessionItem("process_data");
					if(process_d){
						
						if(process_d.hasOwnProperty("earning")){
							this.balance = process_d.earning;
							
							if(process_d.hasOwnProperty("pending_wit")){
								if((process_d.pending_wit != null) && (Number(process_d.pending_wit) > 0)){
									this.pending_wit.status = true;
									this.pending_wit.value = process_d.pending_wit;
								}else{
									this.pending_wit.status = false;
									this.pending_wit.value = "0";
								}
							}
						}
					}
				}
			},

			GoPublishBook: function(){
				this.$router.push('publishbook');
			},

			GoToTop: function(){
				MainBase.goToTop();
			},
			GoUserReadBook: function(bookd){
				if(MainBase.readerLoggedIn()){
					var process_d = MainBase.getSessionItem("process_data");
					process_d.book = {
						bookid: bookd.book_id,
						epuburl: "",
						coverurl: ""
					};

					let d_data = {
						id: process_d.id,
						bookid: process_d.book.bookid,
						email: process_d.email,
						jauth: process_d.jauth,
						username: process_d.username
					};
					let done_ = MainBase.userReadBook(d_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.code == 200){
							if(c_response.hasOwnProperty('data')){
								if((Number(c_response.data.book.bookid) > 0)){
									process_d.book.epuburl = this.default_url + c_response.data.book.epath + c_response.data.book.epub;
									process_d.book.coverurl = this.default_url + c_response.data.book.cpath + c_response.data.book.coverpic;
									MainBase.setSessionItem("process_data", JSON.stringify(process_d));
									location.href = "/reader/index.html";
								}else{
									MainBase.alert("error", "No book selected");
								}
							}else{
								//alert(c_response.message);
							}
						}else{
							MainBase.alert("error", "Sorry, couldn't get book from the server");
							//alert(c_response.message);
						}
					});
					/*
						let d_data = {
							id: process_d.id,
							email: process_d.email,
							jauth: process_d.jauth,
							username: process_d.username
						};
					*/
				}
				//this.$router.push('userreadbook');
			},

			PreviousView: function(){
				if(MainBase.readerLoggedIn()){
					var process_d = MainBase.getSessionItem("process_data");
					if(process_d){
						var cal_p = Number(this.pagestart) - 1;
						if(cal_p > 0){
							let ddata = {
								id: process_d.id,
								email: process_d.email,
								jauth: process_d.jauth,
								username: process_d.username,		
								pagelimit: this.pagelimit,
								pagestart: cal_p,
								catid: this.selected_cat.value
							}
							this.GetPaginateBooks(ddata, "previous");
						}
					}
				}
			},

			NextView: function(){
				if(MainBase.readerLoggedIn()){
					var process_d = MainBase.getSessionItem("process_data");
					if(process_d){

						var cal_p = Number(this.pagestart) + 1;
						if(cal_p > 0){
							let ddata = {
								id: process_d.id,
								email: process_d.email,
								jauth: process_d.jauth,
								username: process_d.username,		
								pagelimit: this.pagelimit,
								pagestart: cal_p,
								catid: this.selected_cat.value
							}
							this.GetPaginateBooks(ddata, "next");
						}
					}
				}
			},

			GetPaginateBooks: function(ddata, s_t){
				if(s_t == "previous"){
					this.progress_status.previous = true;	
				}
				if(s_t == "next"){
					this.progress_status.next = true;
				}
				
				//
				//this.doc_ready = false;
				MainBase.showProgressBar();
				let done_ = MainBase.myBooks(ddata);
				done_.then(data =>{
					let c_response = data;
					if(c_response.code == 200){
						MainBase.removeProgressBar();
						if(c_response.data.hasOwnProperty('book')){
							if(c_response.data.book != null){
								this.myreads = c_response.data.book;
								this.doc_ready = true;
								this.avail_book = true;
								this.pagestart = c_response.data.pagestart;
								this.pagelimit = c_response.data.pagelimit;
								this.numbooks = c_response.data.numbooks;
								this.balance = c_response.data.balance;
								process_d.earning = c_response.data.balance;
								MainBase.setSessionItem("process_data", JSON.stringify(process_d));

								if(s_t == "previous"){
									this.progress_status.previous = false;					
								}
								if(s_t == "next"){
									this.progress_status.next = false;
								}
							}else{
								this.doc_ready = true;
								this.avail_book = true;
							}
						}else{
							MainBase.alert("error", "Something wrong somewhere");
						}
					}

					if(c_response.code == 400){
						MainBase.removeProgressBar();

						if(s_t == "next"){
							this.progress_status.next = false;
							this.doc_ready = true;
							MainBase.alert("info", c_response.message);
						}
					}
				});
			}
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	section{
		padding: 50px;
	}

	#userstat_section{
		background-color: #e9dcdc;;
		color: #333;
		padding: 10px 10px 0px 10px;
		position: fixed !important;
		width: 100%;
		z-index: 1;
		
		//margin
		.text_block:nth-child(1){
			//margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 12px;
			text-align: right;
			text-transform: capitalize;
			line-height: 25px;
			//font-weight: bold;

			.m6:nth-child(1){
				text-align: left !important;
			}

			.value{
				font-weight: bold;
				color: $primary-color;
				font-size: 14px;
			}
			
		}
		.text_block:nth-child(2){
			padding: 0 50px 0 50px;
		}
	}

    #data_section{
		margin-top: 40px;
		padding: 50px 20px 20px 20px;
		text-align: left;
		min-height: 800px;

		.totop{
			text-align: right;
		}

		.p_wait{
			text-align: center;
		}

		.no_read{
			padding: 50px;
			font-size: 18px;
			text-align: center;
			min-height: 150px;
		}

		.collapsible{
			.pagination{
				.btn{
					font-size: 12px;
				}
				padding-top: 10px;
				text-align: center;
				font-size: 12px !important;
				margin: 50px 0px 0px 0px;
			}
			.collapsible-header{
				//color: #ccc;
				//background-color: $secondary-color;
				font-size: 15px;
				padding: 5px 10px 0px 5px;
				.ti{
					font-size: 18px;
				}
				.text{
					font-size: 18px;
				}
			}

			.collapsible-body{
				padding-top: 5px;
				.hide-on-med-and-up{
					span{
						font-weight: bold;
					}
				}
				.delete{
					color: #f00;
				}
				.action{
					//font-size: 80%;
					.read{
						color: #116311;

						font-weight: bold;
						//font-size: 11px;
					}
				}
			}
		}
		
		.see_label{
			color: #bbb;
		}
		hr{
			color: #ccc;
		}
		.card{

			.card-desc{
				text-align: left;
				.book_title{
					font-size: 18px;
					padding-top: 10px;
					font-weight: bold;
				}

				.book_author{
					font-size: 13px;
					padding-bottom: 10px;
				}
				.book_desc{
					color: #787878;
					//text-align: left;
				}
				.book_stat{
					margin-bottom: 0px;
					font-size: 12px;
				}
				.book_cost{
					font-weight: bold;
					color: $primary-color;
					font-size: 16px;
				}
			}
			padding: 10px;
			box-shadow: 1px 1px 6px 0 #cfcaca;
			text-align: center;
			text-decoration: none;
			max-width: 100%;
			min-width: 200px;
			display: inline-block;
			cursor: pointer;
			//margin: 0px;

			img{
				max-height: 250px;
				height: 100%;
			}

			

			.btn{
				background-color: $primary-color;
			}
		}
	}
</style>
