<template>
	<div class="profile">
		<MainMenu/>
		<section id="data_section">
			<div v-show="doc_ready">
				<div class="row">
					<div class="col m6 s12">
						<ul class="collapsible">
							<li class="active">
								<div class="collapsible-header">
									<i class="ti ti-angle-down"></i>
									<span class="text">My Profile</span>
								</div>
								<div class="collapsible-body">
									<div class="input-field">
										<input id="p_fullname" placeholder="Fullname" type="text" class="validate" v-model="profile.name">
									</div>
									<div class="input-field">
										<input id="p_email" placeholder="Email Address" type="text" class="validate" v-model="profile.newemail">
									</div>
									<div class="input-field">
										<input id="p_phone" type="text" class="validate" placeholder="Phone Number" v-model="profile.phone">
									</div>
									<div class="input-field">
										<div>Show Adult content:</div>
										<select class="browser-default" v-model="profile.adult">
											<option :value="adult.id" v-for="(adult, index) in adult_select" :key="index"> {{adult.title}}</option>
										</select>
									</div>
									<div class="input-field s12 a_btn">
										<button :disabled="Update_P_ContinueBtn ? false : true" class="btn" v-on:click.prevent="UpdateProfile">Update</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="col m6 s12">
						<ul class="collapsible">
							<li class="active">
								<div class="collapsible-header">
									<i class="ti ti-angle-down"></i>
									<span class="text">Bank Detail</span>
								</div>
								<div class="collapsible-body">
									<div class="input-field">
										<div>Bank:</div>
										<select class="browser-default" v-model="bank_detail.bank">
											<option value="0" selected disabled>--Select Bank--</option>
											<option :value="bank.id" v-for="(bank, index) in banks" :key="index"> {{bank.bank}}</option>
										</select>
									</div>
									
									<div class="input-field">
										<input id="b_name" placeholder="Account Name" type="text" class="validate" v-model="bank_detail.acname">
									</div>
									<div class="input-field">
										<input id="b_number" type="text" class="validate" placeholder="Account Number" v-model="bank_detail.acnum">
									</div>
									<div class="input-field s12 a_btn">
										<button :disabled="Save_B_ContinueBtn ? false : true" class="btn" v-on:click.prevent="SaveBankDetail">Save</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="totop">
						<a href="#" v-on:click.prevent="GoToTop">Go To Top <span class="ti ti-arrow-up"></span></a>
					</div>
				</div>
			</div>
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
		</section>
		<MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import MainBase from "@/allservices/controller/MainBase.js";

	export default {
		name: "profile",
		components: {
			MainMenu, MainFooter
		},
		data: function(){
        	return{
				app_name: this.$appName,
				default_url: this.$defaultURL,
				doc_ready: false,
				progress_status: {
					update_p: false,
					save_b: false,	
				},
                profile: {
                    name: "",
                    phone: "",
					email: "",
					adult: "0",
					newemail: ""
                },
                bank_detail: {
                    acname: "",
                    acnum: "",
                    bank: "0"
                },
				banks: "",
				adult_select: [
					{
						id: "0",
						title: "No"
					},
					{
						id: "1",
						title: "Yes"
					}
				]
			};
		},
		computed: {
            Update_P_ContinueBtn:{
                get: function(){
                    if(this.progress_status.update_p){
                        return false;
                    }else{
                        return true;
                    }
                },
                set: function(){
                    
                }
			},
			
			Save_B_ContinueBtn:{
				get: function(){
                    if(this.progress_status.save_b){
                        return false;
                    }else{
                        return true;
                    }
                },
                set: function(){
                    
                }
			}
        },
		mounted: function(){
			M.AutoInit();
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
			if(!(MainBase.readerLoggedIn())){
				this.$router.push('/');
			}
		},
		created: function(){
			if(MainBase.readerLoggedIn()){
				var process_d = MainBase.getSessionItem("process_data");
				if(process_d){
                    let d_data = {
						id: process_d.id,
						email: process_d.email,
						jauth: process_d.jauth
					};
					MainBase.showProgressBar();
					let done_ = MainBase.myProfile(d_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.code == 200){
							MainBase.removeProgressBar();
							if(c_response.data.hasOwnProperty('user')){
								if(c_response.data.user != null){
									
									this.profile.name = c_response.data.user.firstname +" "+ c_response.data.user.lastname;
									this.profile.email = c_response.data.user.email;
									this.profile.newemail = c_response.data.user.email;
									this.profile.phone = c_response.data.user.phone;
									this.profile.adult = c_response.data.user.adult;
									this.bank_detail.bank = c_response.data.user.bank;
									this.bank_detail.acname = c_response.data.user.acname;
									this.bank_detail.acnum = c_response.data.user.acnum;

									process_d.phone = c_response.data.user.phone;
									MainBase.setSessionItem("process_data", JSON.stringify(process_d));

									this.doc_ready = true;
									
									let done_ = MainBase.getBanks(d_data);
									done_.then(data =>{
										let b_response = data;
										if(b_response.code == 200){
											if(b_response.data.hasOwnProperty("banks")){
												if(b_response.data.banks != null){
													this.banks = b_response.data.banks;
												}
											}
										}
									});
								}else{
									MainBase.alert("info", "Check your data structure");
								}
							}else{
								MainBase.alert("info", "Check your data structure");
							}
						}
						if(c_response.code == 404){
							MainBase.logoutUser();
						}
					});
				}else{
					this.$router.logoutUser();
				}
			}else{
				MainBase.logoutUser();
			}
		},
		methods: {
			
			GoToTop: function(){
				MainBase.goToTop();
			},
			UpdateProfile: function(){
				var process_d = MainBase.getSessionItem("process_data");
				if(process_d){
                    let p_data = {
						id: process_d.id,
						jauth: process_d.jauth,
						email: this.profile.email,
						phone: this.profile.phone,
						adult: this.profile.adult,
						newemail: this.profile.newemail
					};

					MainBase.showProgressBar();
					this.progress_status.update_p = true;
					let done_ = MainBase.myProfile(p_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.hasOwnProperty("code")){
							if(c_response.code == 200){
								MainBase.removeProgressBar();
								if(c_response.data.hasOwnProperty('user')){
									if(c_response.data.user != null){
										MainBase.removeProgressBar();
										this.progress_status.update_p = false;
										//this.profile.name = c_response.data.user.firstname + c_response.data.user.lastname;
										this.profile.email = c_response.data.user.email;
										this.profile.newemail = c_response.data.user.email;
										this.profile.phone = c_response.data.user.phone;
										this.profile.adult = c_response.data.user.adult;
										
										var process_dd = MainBase.getSessionItem("process_data");
										process_dd.email = c_response.data.user.email;
										process_dd.phone = c_response.data.user.phone;
										process_dd.jauth = c_response.data.user.jauth;
										MainBase.setSessionItem("process_data", JSON.stringify(process_dd));
										MainBase.alert("success", c_response.message);
										/* this.bank_detail.bank = c_response.data.user.bank;
										this.bank_detail.acname = c_response.data.user.acname;
										this.bank_detail.acnum = c_response.data.user.acnum; */
									}else{
										MainBase.alert("info", "Check your data structure");
									}
								}else{
									MainBase.alert("info", "Check your data structure");
								}
							}
							if(c_response.code == 400){
								this.progress_status.update_p = false;
								MainBase.removeProgressBar();
								MainBase.alert("error", c_response.message);
								
								//alert(c_response.message);
							}
						}else{
							MainBase.alert("error", "Please Check your Data structure");
						}
					});
				}else{
					MainBase.logoutUser();
				}
			},
			SaveBankDetail: function(){
				var process_d = MainBase.getSessionItem("process_data");
				if(process_d){
                    let p_data = {
						id: process_d.id,
						jauth: process_d.jauth,
						email: this.profile.email,
						phone: this.profile.phone,
						
						bank: this.bank_detail.bank,
						acname: this.bank_detail.acname,
						acnum: this.bank_detail.acnum
					};

					MainBase.showProgressBar();
					this.progress_status.save_b = true;
					let done_ = MainBase.myProfile(p_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.hasOwnProperty("code")){
							if(c_response.code == 200){
								MainBase.removeProgressBar();
								if(c_response.data.hasOwnProperty('user')){
									if(c_response.data.user != null){
										MainBase.removeProgressBar();
										this.progress_status.save_b = false;
										this.profile.name = c_response.data.user.firstname + c_response.data.user.lastname;
										
										this.bank_detail.bank = c_response.data.user.bank;
										this.bank_detail.acname = c_response.data.user.acname;
										this.bank_detail.acnum = c_response.data.user.acnum;
										MainBase.alert("success", c_response.message);
									}else{
										MainBase.alert("info", "Check your data structure");
									}
								}else{
									MainBase.alert("info", "Check your data structure");
								}
							}
							
							if(c_response.code == 400){
								this.progress_status.save_b = false;

								MainBase.removeProgressBar();
								MainBase.alert("error", c_response.message);
								
								//alert(c_response.message);
							}

							if(c_response.code == 404){
								MainBase.logoutUser();
							}
						}else{
							MainBase.alert("info", "Check your data structure");
						}
					});

				}else{
					MainBase.logoutUser();
				}
			}
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	section{
		padding: 50px;
	}

	#userstat_section{
		background-color: #e9dcdc;;
		color: #333;
		padding: 10px 10px 0px 10px;
		position: fixed !important;
		width: 100%;
		z-index: 1;
		
		//margin
		.text_block:nth-child(1){
			//margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 14px;
			text-align: right;
			text-transform: capitalize;
			line-height: 25px;
			//font-weight: bold;

			.m6:nth-child(1){
				text-align: left !important;
			}

			.value{
				font-weight: bold;
				color: $primary-color;
				font-size: 18px;
			}
			
		}
		.text_block:nth-child(2){
			padding: 0 50px 0 50px;
		}
	}

    #data_section{
		margin-top: -20px !important;
		padding: 50px 20px 20px 20px;
		text-align: left;
		min-height: 500px;

		.totop{
			text-align: right;
		}

		.p_wait{
			text-align: center;
		}

		.no_read{
			padding: 50px;
			font-size: 18px;
			text-align: center;
			min-height: 150px;
		}

		.collapsible{
			.pagination{
				.btn{
					font-size: 12px;
				}
				padding-top: 10px;
				text-align: center;
				font-size: 12px !important;
				margin: 50px 0px 0px 0px;
			}
			.collapsible-header{
				color: #ccc;
				background-color: $secondary-color;
				font-size: 15px;
				padding: 5px 10px 0px 5px;
				.ti{
					font-size: 18px;
				}
				.text{
					font-size: 16px;
				}
			}

			.collapsible-body{
                input::placeholder {
                    color: #393232;
                }

                .a_btn{
                    text-align: right;
                }
				padding-top: 5px;
                color: #222;
				.hide-on-med-and-up{
					span{
						font-weight: bold;
					}
				}
				.delete{
					color: #f00;
				}
				.action{
					//font-size: 80%;
					.read{
						color: #116311;

						font-weight: bold;
						//font-size: 11px;
					}
				}
			}
		}
	
	}
</style>
