<template>
	<div class="publishbook">
		<MainMenu/>
        <!-- <section id="userstat_section" class="fixed">
            <div class="text_block">
				<div class="row">
					<div class="col m6 s6">
                        <a href="#">
                            Created Book info:<span class="value">No</span>
                        </a>
					</div>
					<div class="col m6 s6">
						<a href="#">
							Section created: <span class="value">0</span>
						</a>
					</div>
				</div>
			</div>
		</section> -->
		<section id="data_section">
			<div class="row" v-show="doc_ready"> 
                <div class="book_info_section col s12 m4">
                    <ul class="collapsible" v-show="!create_book.status">
                        <li class="active">
                            <div class="collapsible-header">
                                <i class="ti ti-angle-down"></i>
                                <span class="text">CREATE BOOK</span>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <label for="book_title1" class="active">Book Title</label>
                                        <input id="book_title1" type="text" v-model="create_book.title" placeholder="Enter Book Title">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="book_author1" class="active">Book Author</label>
                                        <input id="book_author1" type="text" v-model="create_book.author" placeholder="Author">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col s6">
                                        <label>Select Category</label>
                                        <select class="browser-default" v-model="create_book.category">
                                            <option value="" disabled selected>Category</option>
                                            <option :value="all_cat.id" v-for="(all_cat, index) in parent_cat" :key="index"> {{all_cat.cat}}</option>
                                        </select>
                                    </div>
                                    <div class=" col s6">
                                        <label>Select language</label>
                                        <select class="browser-default" v-model="create_book.language">
                                            <option value="" disabled selected>Language</option>
                                            <option :value="all_lang.id" v-for="(all_lang, index) in parent_lang" :key="index"> {{all_lang.lang}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label for="book_price1" class="active">Price (Naira)</label>
                                        <input type="number" placeholder="Enter Price" v-model="create_book.price" id="book_price1">
                                    </div>
                                </div>
                                <div class="input-field">
                                    <textarea id="textarea1" placeholder="Enter Book Description" class="materialize-textarea" v-model="create_book.description"></textarea>
                                    <label for="textarea1" class="active">About the book</label>
                                </div>
                                <div v-show="!create_book.status">
                                    <div class="input-field">
                                        <span>Upload Book Cover Image</span><br/>
                                        <input type="file" id="coverpic" ref="file" accept="image/*" v-on:change="HandleCoverPicUpload">
                                    </div>
                                    <div class="">
                                        <button :disabled="ContinueBtn ? false : true" class="btn create_btn" v-on:click.prevent="CreateBook">Create Book</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="collapsible" v-show="create_book.status">
                        <li class="active">
                            <div class="collapsible-header">
                                <i class="ti ti-upload"></i>
                                <span class="text">Upload Book</span>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="input-field col s12 m6">
                                        <label for="u_book_title" class="active">Book Title</label>
                                        <input id="u_book_title" disabled  type="text" v-model="create_book.title" placeholder="Enter Book Title">
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <label for="u_book_author" class="active">Book Author</label>
                                        <input id="u_book_author" disabled type="text" v-model="create_book.author" placeholder="Author">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label for="u_book_price" class="active">Price (Naira)</label>
                                        <input id="u_book_price" type="text" placeholder="Enter Price" disabled v-model="create_book.price">
                                    </div>
                                </div>
                                <div class="input-field">
                                    <textarea id="u_textarea1" placeholder="Enter Book Description" disabled class="materialize-textarea" v-model="create_book.description"></textarea>
                                    <label for="u_textarea1" class="active">About the book</label>
                                </div>
                                <div class="book_cover">
                                    <span>Book Cover</span><br/>
                                    <img :src="default_url + create_book.cpath + create_book.coverpic"/>
                                </div>
                                <div>
                                    <div class="input-field">
                                        <h4>Upload Epub File</h4>
                                        <input type="file" id="epub_file" ref="epubfile" accept=".epub, .opf" v-on:change="HandleEpubUpload">
                                    </div>

                                    <div class="">
                                        Don't have an Epub version ?
                                        <a hre="#section_div" v-on:click="CreateEpub"> Convert to Epub Here</a>
                                    </div>
                                    <div class="">
                                        <button :disabled="ContinueBtn ? false : true" class="btn publish_btn" v-on:click.prevent="PublishBook">Publish Book</button>
                                    </div>
                                    <div class="">
                                        <span>If you don't want to proceed with publishing the book ?</span>
                                        <button class="btn btn-flat" v-on:click.prevent="CancelPublish(create_book.bookid)">Cancel Here</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="section_div col s12 m8" id="section_div">
                    <div v-show="create_epub_status">
                        <div class="sub_heading center"> Generate Your Epub Here </div>
                        <div class="added_section" v-show="saved_sections.length > 0">
                            <div class="row">
                                <div class="col s12">
                                <span class="ti ti-list"></span> Created Sections 
                                </div>
                            </div>
                            <ul class="collapsible popout">
                                <li class="" v-for="(section, index) in saved_sections" :key="index">
                                    <div class=" collapsible-header">
                                        <span class="ti ti-angle-down right down_icon"></span>
                                        <input class="" v-model="section.title">
                                        <a href="" class="remove_section_icon" v-on:click.prevent="RemoveSection(index)">
                                            <span class="ti ti-close"></span>&nbsp;
                                        </a>
                                    </div>
                                    <div class="collapsible-body">
                                        <!-- <textarea v-model="section.content"></textarea> -->
                                        <ckeditor :editor="editor" v-model="section.content" :config="editorConfig"></ckeditor>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div v-show="add_new_sec" >
                            <div class="chapter_heading">
                                New Section
                            </div>
                            <div class="chapter_content">
                                <div class="input-field">
                                    <label for="book_title" class="active">Section Title</label>
                                    <input id="book_title" v-model="new_section_title" type="text" placeholder="Enter Chapter or Section Title">
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s6">
                                        <button class="btn left btn-flat" v-on:click.prevent="CancelSection">Cancel</button>
                                    </div>
                                    <div class="col s6">
                                        <button class="btn right" v-on:click.prevent="SaveSection">Save Section</button>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col s12" v-if="g_link_status" id="epub_link">
                                        Epub Version of book Generated, kindly
                                        <a :href="g_link.href" :download="g_link.download">{{g_link.textContent}}</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        
                        <div class="row" v-if="saved_sections.length > 0 && !(add_new_sec)">
                            <div class="col s12">
                                <button class="btn right" v-on:click.prevent="AddNewSec">Add New Section</button>
                            </div>
                            <div class="col s12">
                                Are you done with all your books ? Click the Generate Epub button below to Generate your Epub book<br/>
                                <button class="btn generate_ebub_btn" v-on:click.prevent="GenerateEpub">
                                    <span class="ti ti-download"></span> Generate Epub
                                </button>
                            </div>
                        </div>

                        
                        <div class="row" >
                            <div class="col s12">
                                
                            </div>
                        </div>
                    </div>
                    <div v-show="!create_epub_status">
                        <div class="no_book_detail">
                            <h5>
                                Publish your book in 2 Steps
                            </h5>
                            <p>
                                <span class="ti ti-check"></span> First, Create Basic info Book
                            </p>
                            <p>
                                <span class="ti ti-check"></span> Secondly, Upload Epub Book
                            </p>
                        </div>
                    </div>
                </div>
				<div class="totop col s12">
					<a href="#" v-on:click.prevent="scrollToTop()">Go To Top <span class="ti ti-arrow-up"></span></a>
				</div>
			</div>
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
		</section>
        <AddBank/>
		<RecommendedBooks/>
        <MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import RecommendedBooks from "@/components/RecommendedBooks.vue";
    import MainBase from "@/allservices/controller/MainBase.js";
    import AddBank from "@/components/modal/AddBank.vue";

    import CKEditor from '@ckeditor/ckeditor5-vue';    
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    
	export default {
		name: "publishbook",
		components: {
			AddBank, MainMenu, MainFooter, RecommendedBooks,  ckeditor: CKEditor.component
		},
		data: function(){
        	return{
                app_name: this.$appName,
                default_url: this.$defaultURL,
                doc_ready: false,
                selected_cat: "0",
                add_new_sec: true,
                progress_status: false,
                create_book: {
                    status: false,
                    title: "",
                    author: "",
                    category: "",
                    language: "",
                    adult: "0",
                    price: "0",
                    description: "",
                    coverpic: "",
                    cpath: "",
                    bookid: ""
                },

                u_epubfile: "",

                create_epub_status: false,
                new_section_title: "",
                editor: ClassicEditor,
                editorData: '',
                editorConfig: {
                    // The configuration of the editor.
                    //toolbar: [ 'bold', 'italic', '|', 'link' ]
                },
                //savesection_btn: false,

                g_link: "",
                g_link_status: false,
                generate_epub: {
                    title: "",
                    author: "",
                    description: ""
                },
                saved_sections:[
                ],
                saved_sec_c: false,
                parent_cat: "",
                parent_lang: ""
			};
        },
        watch: {
            'saved_sec_c': function(){
                this.InitializeCollapsible();
                //this.ini
            }
        },
        created: function(){
            
        },
        computed: {
            ContinueBtn:{
                get: function(){
                    if(this.progress_status){
                        return false;
                    }else{
                        return true;
                    }
                },
                set: function(){
                    
                }
            }
        },
		mounted: function(){
			M.AutoInit();
			let m_elem = document.querySelectorAll('.modal');
            M.Modal.init(m_elem, {dismissible: false})
            //var booke = document.getElementById('book_content');
            /* CKEDITOR.replace(booke);
            */
            if(MainBase.readerLoggedIn()){
                //this.doc_ready = true;
                let process_d = MainBase.getSessionItem("process_data");
                let d_data = {
                    id: process_d.id,
                    email: process_d.email,
                    jauth: process_d.jauth,
                    username: process_d.username,
                    phone: process_d.phone
                };
                this.DefaultBookCheck(d_data);

                let done_2 = MainBase.myProfile(d_data);
                done_2.then(data =>{
                    let c_response = data;
                    if(c_response.code == 200){
                        MainBase.removeProgressBar();
                        if(c_response.data.hasOwnProperty('user')){
                            if(c_response.data.user != null){
                                if(c_response.data.user.hasOwnProperty("bank")){
                                    if(!(Number(c_response.data.user.bank) > 0)){                                             
                                        //open Add Bank Detail modal
                                        MainBase.openModal("addbank_modal");
                                    }
                                }else{
                                    MainBase.alert("info", "Please check your data structure");
                                }
                            }else{
                                MainBase.alert("info", "Check your data structure");
                            }
                        }else{
                            MainBase.alert("info", "Check your data structure");
                        }
                    }
                    if(c_response.code == 404){
                        MainBase.logoutUser();
                    }
                }); 
            }else{
                this.$router.push('/');
            }
		},
		methods: {
			GetBookByCat: function(new_d){
				//alert("Hey you");
				this.see_label = new_d;
				this.scrollToTop();
			},

			goToBookInfo: function(b_num){
				//this.scrollToTop();
				this.$router.push('/bookinfo');
			},
			scrollToTop: function(){
				MainBase.scrollToTop();
            },
            HandleCoverPicUpload: function(){
                this.create_book.coverpic = this.$refs.file.files[0];
            },
            HandleEpubUpload: function(){
                this.u_epubfile = this.$refs.epubfile.files[0];
            },
            DefaultBookCheck: function(d_data){
                MainBase.showProgressBar();
                let done_ = MainBase.checkCreateBook(d_data);
                done_.then(data =>{
                    let c_response = data;
                    if(c_response.code == 200){
                        this.doc_ready = true;
                        MainBase.removeProgressBar();
                        if(c_response.data.hasOwnProperty('book')){
                            if(c_response.data.book.hasOwnProperty('bookid')){
                                if(Number(c_response.data.book.bookid) > 0){
                                    this.UpdateBookStatus(c_response);
                                }
                            }else{
                                //alert(c_response.message);
                            }
                        }else{
                            //alert(c_response.message);
                        }
                    }else{
                        this.doc_ready = true;
                        MainBase.removeProgressBar();

                        let getdata = {
                            catid: "0"
                        }

                        let done2_ = MainBase.getCatLang(getdata);
                        done2_.then(data =>{
                            let cc_response = data;
                            if(cc_response.code == 200){
                                if(cc_response.data.hasOwnProperty('category')){
                                    this.parent_cat = cc_response.data.category;
                                    if(cc_response.data.hasOwnProperty('language')){
                                        this.parent_lang = cc_response.data.language;
                                    }
                                }
                            }else{
                                MainBase.alert("error", cc_response.message);
                            }
                        });
                        //alert(c_response.message);
                    }
                });
            },
            CancelPublish: function(b_id){
                swal({
                    title: "Are you sure you want to cancel this book ?",
                    text: "This means you won't be able to publish this particular book", 
                    icon: "info",
                    buttons: true,
                    buttons: ['No', 'Yes, Cancel Book'],
                    //confirmButtonText: 'Yes Cancel',
                    //deleteButtonText: 'Yes Cancel',
                    dangerMode: true
                })
                .then((willDelete) => {
                    if (willDelete) {
                        let process_d = MainBase.getSessionItem("process_data");
                        let d_data = {
                            id: process_d.id,
                            email: process_d.email,
                            jauth: process_d.jauth,
                            bookid: b_id,
                            phone: process_d.phone
                        };
                        MainBase.showProgressBar();
                        let done_ = MainBase.cancelPublish(d_data);
                        done_.then(data =>{
                            let c_response = data;
                            if(c_response.code == 200){
                                this.DefaultBookCheck(d_data);
                            }
                            if(c_response.code == 400){
                                MainBase.alert("info", c_response.message);
                            }
                        });
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
            },
            RemoveSection: function(sec_index){
                swal({
                    title: "Hey ?",
                    text: "Are you sure you want to remove this section ?", 
                    icon: "info",
                    buttons: true,
                    buttons: ['No', 'Yes Remove Section'],
                    dangerMode: true
                })
                .then((willDelete) => {
                    if (willDelete) {
                        
                        this.saved_sections.splice(sec_index, 1);
                        this.saved_sec_c = !(this.saved_sec_c);
                        this.InitializeCollapsible();
                        if(this.saved_sections.length < 1){
                            this.create_epub_status = false;
                        }
                        
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
            },
            CancelSection: function(){
                swal({
                    title: "Hey ?",
                    text: "Are you sure you want to cancel this section ?", 
                    icon: "info",
                    buttons: true,
                    buttons: ['No', 'Yes, Cancel Section'],
                    dangerMode: true
                })
                .then((willDelete) => {
                    if (willDelete) {
                        if(this.saved_sections.length < 1){
                            this.create_epub_status = false;
                        }
                        this.add_new_sec = false;
                        this.new_section_title = " ";
                        this.editorData = "";
                        this.saved_sec_c = !(this.saved_sec_c);
                        this.InitializeCollapsible();
                        
                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
            },
            SaveSection: function(){
                let new_sec = {
                    title: this.new_section_title,
                    content: this.editorData
                };

                this.saved_sections.push(new_sec);
                this.add_new_sec = false;
                
                this.new_section_title = " ";
                this.editorData = "";
                this.saved_sec_c = !(this.saved_sec_c);
                this.InitializeCollapsible();
            },

            InitializeCollapsible: function(){
                var elems = document.querySelectorAll('.collapsible');
                M.Collapsible.init(elems, {accordion: true});
            },
            AddNewSec: function(){
                this.add_new_sec = true;
            },
            CreateBook: function(){
                if(MainBase.readerLoggedIn()){
                    let process_d = MainBase.getSessionItem("process_data");
                    let d_data = {
                        id: process_d.id,
                        email: process_d.email,
                        jauth: process_d.jauth,
                        username: process_d.username
                    };
                    if(this.create_book.title.length > 3){
                        if(this.create_book.author.length > 3){
                            if(this.create_book.description.length > 3){
                                if(this.create_book.coverpic){
                                    if(/\.(jpe?g|png|gif)$/i.test(this.create_book.coverpic.name)){
                                        var formData = new FormData(); 
                                        formData.append('coverpic', this.create_book.coverpic);
                                        formData.append('title', this.create_book.title);
                                        formData.append('author', this.create_book.author);
                                        formData.append('category', this.create_book.category);
                                        formData.append('adult', this.create_book.adult);
                                        formData.append('language', this.create_book.language);
                                        formData.append('description', this.create_book.description);
                                        formData.append('price', this.create_book.price);
                                        formData.append('id', process_d.id);
                                        formData.append('email', process_d.email);
                                        formData.append('jauth', process_d.jauth);
                                        
                                        /* 
                                        for (var pair of formData.entries()) {
                                             
                                        }
                                         */
                                        
                                        this.progress_status = true;
                                        MainBase.showProgressBar()
                                        let done_ = MainBase.checkCreateBook(d_data);
                                        done_.then(data =>{
                                            let c_response = data;
                                            if(c_response.code == 200){
                                                this.UpdateBookStatus(c_response);
                                                this.progress_status = false;
                                                MainBase.removeProgressBar();
                                            }else{
                                                this.progress_status = true;
                                                MainBase.showProgressBar();
                                                let c_done = MainBase.createBook(formData);
                                                c_done.then(data => {
                                                    this.progress_status = true;
                                                    let create_response = data;
                                                    if(create_response.code == 200){
                                                        MainBase.removeProgressBar();
                                                        if(create_response.hasOwnProperty('data')){
                                                            if(create_response.data.hasOwnProperty('book')){
                                                                if(create_response.data.book.hasOwnProperty('bookid')){
                                                                    if(Number(create_response.data.book.bookid) > 0){
                                                                        this.UpdateBookStatus(create_response);
                                                                        this.progress_status = false;
                                                                        MainBase.alert("success", "Book Created Successfully");
                                                                    }
                                                                }else{
                                                                    this.progress_status = false;
                                                                    MainBase.alert("error", "Sorry something is wrong with your data structure");
                                                                }
                                                            }else{
                                                                MainBase.alert("error", "Sorry something is wrong with your data structure");
                                                            }
                                                        }else{
                                                            this.progress_status = false;
                                                            MainBase.alert("error", c_response.message);
                                                        }
                                                        //this.EmptyCreateData();
                                                    }else{
                                                        this.progress_status = false;
                                                        MainBase.alert("error", create_response.message);
                                                    }
                                                });
                                            }
                                        });
                                    }else{
                                        //console.log("Please upload an image");
                                    }
                                }else{
                                    this.progress_status = false;
                                    MainBase.alert("error", "please upload an image");
                                }
                            }else{
                                this.progress_status = false;
                                MainBase.scrollToTop();
                                MainBase.alert("error", "Please provide author of book");
                            }
                        }else{
                            this.progress_status = false;
                            MainBase.scrollToTop();
                            MainBase.alert("error", "Please provide author of book");
                        }
                    }else{
                        this.progress_status = false;
                        MainBase.scrollToTop();
                        MainBase.alert("error", "Please provide a book title to continue");
                    }
                        //alert(c_response.message);
                }
                //alert("Please use google converter for now");
                
            },
            UpdateBookStatus: function(c_response){
                this.create_book.status = true;
                this.create_book.title = c_response.data.book.title;
                this.create_book.author = c_response.data.book.author;
                this.create_book.description = c_response.data.book.description;
                //this.create_book.adult = c_response.data.book.adult;
                //this.create_book.category = Number(c_response.data.book.category);
                //this.create_book.language = Number(c_response.data.book.language);
                this.create_book.price = c_response.data.book.price;
                this.create_book.cpath = c_response.data.book.cpath;
                this.create_book.coverpic = c_response.data.book.coverpic;
                this.create_book.bookid = c_response.data.book.bookid;
            },
            EmptyCreateData: function(){
                this.create_book.status = false;
                this.create_book.title = "";
                this.create_book.author = "";
                this.create_book.category = "";
                this.create_book.description = "";
                this.create_book.adult = "";
                this.create_book.language = "";
                this.create_book.price = "";
                this.create_book.cpath = "";
                this.create_book.bookid = "";
            },
            CreateEpub: function(){
                if(this.create_book.status){
                    this.create_epub_status = true;
                    this.add_new_sec = true;
                }
            },
            PublishBook: function(){
                if(MainBase.readerLoggedIn()){
                    if(this.u_epubfile){
                        if(/\.(epub|opf)$/i.test(this.u_epubfile.name)){
                            let process_d = MainBase.getSessionItem("process_data");
                            let d_data = {
                                id: process_d.id,
                                email: process_d.email,
                                jauth: process_d.jauth,
                                username: process_d.username
                            };


                            var formData = new FormData(); 
                            formData.append('bookid', this.create_book.bookid);
                            formData.append('epub', this.u_epubfile);
                            formData.append('id', process_d.id);
                            formData.append('email', process_d.email);
                            formData.append('jauth', process_d.jauth);
                            
                            this.progress_status = true;
                            MainBase.showProgressBar();
                            let done_ = MainBase.checkCreateBook(d_data);
                            done_.then(data =>{
                                let c_response = data;
                                if(c_response.code == 200){
                                    this.progress_status = true;
                                    MainBase.showProgressBar();
                                    let c_done = MainBase.publishBook(formData);
                                    c_done.then(data => {
                                        let create_response = data;
                                        if(create_response.code == 200){
                                            this.EmptyCreateData();
                                            this.progress_status = false;
                                            MainBase.removeProgressBar();
                                            MainBase.scrollToTop();
                                            this.create_epub_status = false;
                                            this.add_new_sec = false;
                                            MainBase.alert("success", create_response.message);
                                        }
                                        if(create_response.code == 400){
                                            MainBase.alert("error", create_response.message);
                                            this.progress_status = false;
                                        }
                                    });
                                }else{
                                    this.progress_status = false;
                                    MainBase.removeProgressBar();
                                    this.EmptyCreateData();
                                    MainBase.alert("error", c_response.message);
                                }
                            });
                    
                            //this.create_book.status = true;
                        }else{
                            this.progress_status = false;
                            MainBase.alert("error", "Please upload an Epub file");
                        }
                    }else{
                        this.progress_status = false;
                        MainBase.alert("error", "please upload your Epub book");
                    }
                }
            },
            GenerateEpub: function(){
                //alert("we are about to generate ohhh");
                //let done_ = MainBase.generateEpub();
                /* done_.then(data =>{
                    
                }); */
                (async () => {

                    const cover = await fetch('/img/cover-image.jpg').then(response => {
                        if (response.ok) return response.arrayBuffer();
                        throw 'Network response was not ok.';
                    });
                
                    const jepub = new jEpub();
                    jepub.init({
                        title: this.create_book.title,
                        author: this.create_book.author,
                        publisher: 'DomingoBooks.com',
                        description: this.create_book.description,
                        tags: ['lorem', 'ipsum', 'dolor', 'sit', 'amet']
                    });
                
                    jepub.uuid('https://vi.lipsum.com/');
                    jepub.date(new Date(2013, 8, 15));
                    //jepub.cover(cover).notes('<p class="no-indent">Dịch sang Tiếng Việt bởi <strong>Đỗ Việt</strong> - www.doviet.net</p>');
                
                    let illustration = await fetch('./img/lorem-ipsum.jpg').then(response => {
                        if (response.ok) return response.blob();
                        throw 'Network response was not ok.';
                    });
                    //jepub.image(illustration, 'lorem-ipsum');

                    var ourcons = this.saved_sections;
                    
                    for (var i = 0; i < ourcons.length; i++){
                        jepub.add(ourcons[i].title, ourcons[i].content);
                    }
                    
                    const blob = await jepub.generate();
                    
                    let url = URL.createObjectURL(blob);
                    let link = document.createElement('a');
                    //document.getElementById("epub_link").appendChild(link);
                    link.href = url;
                    link.textContent = 'Download EPUB';
                    link.download = this.create_book.title +'.epub';

                    this.g_link = link;
                    this.g_link_status = true;

                    link.click();
                    
                    //return url;
                })();
                //this.g_link_status = true;
                
                //this.generated_link = g_link;
            }
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	section{
		padding: 50px;
	}
    .btn-flat{
         background-color: #eee !important;
    }
    .btn-flat:hover{
        background-color: #ccc !important;
    }
    #userstat_section{
		background-color: #e9dcdc;;
		color: #333;
		padding: 10px 10px 0px 10px;
		position: fixed !important;
		width: 100%;
		z-index: 100;
		
		//margin
		.text_block:nth-child(1){
			//margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 14px;
			text-align: right;
			text-transform: capitalize;
			line-height: 25px;
			//font-weight: bold;

			.m6:nth-child(1){
				text-align: left !important;
			}

			.value{
				font-weight: bold;
				color: $primary-color;
				font-size: 12px;
			}
			
		}
		.text_block:nth-child(2){
			padding: 0 50px 0 50px;
		}
	}

	#data_section{
		margin-top: 5px;
		padding: 30px 20px 20px 20px;
		text-align: left;
        min-height: 800px;

		.book_info_section{
            margin-top: -5px;
            .collapsible{
                .collapsible-header{
                    color: #333;
                    //background-color: $secondary-color;
                    padding: 10px 5px 10px 5px !important;
                    font-size: 12px !important;
                    font-weight: bold;
                    .ti {
                        font-size: 12px;
                        margin-right: 0px;
                    }

                    .text{
                        font-size: 14px;
                    }
                }

                .book_cover{
                    img{
                        max-width: 200px;
                        max-height: 300px;
                        height: 100%;
                        width: 100%;
                    }
                }

                .collapsible-body{
                    padding: 5px 10px 15px 10px;
                    line-height: 30px;

                    .btn.publish_btn{
                        width: 100%;
                        background-color: $primary-color;
                        margin-top: 15px !important;
                    }
                    .hide-on-med-and-up{
                        span{
                            font-weight: bold;
                        }
                    }
                    .action{
                        //font-size: 80%;
                        .read{
                            color: #116311;

                            font-weight: bold;
                            //font-size: 11px;
                        }
                        .delete{
                            color: red;
                        }
                    }
                }
            }
        }

        .section_div{
            min-height: 400px;
            background-color: #fff;
            padding: 10px 50px 10px 50px;

            .sub_heading{
                font-size: 20px;
                font-weight: bold;
            }

            .no_book_detail{
                font-size: 18px;
                padding-top: 80px;
                text-align: center;
            }
            hr{
                color: #eee;
                //background-color: #ccc;
            }

            .chapter_heading{
                margin-top: 50px !important;
                font-size: 20px;
                //text-align: center;
                font-weight: bold;
            }

            .chapter_content{
                color: #333;
                min-height: inherit;
                font-size: 15px;
                text-align: left;
                line-height: 20px;
            }

            .generate_ebub_btn{
                background-color: $primary-color;
                margin-top: 10px;
            }
        }
        .added_section{
            li{
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
            .collapsible-header{
                font-weight: bold;
                font-size: 12px;
                padding-top: 0px !important;
                padding-bottom: 0px !important;

                .down_icon{
                    margin-top: 30px;
                    margin-right: 15px;
                }

                .remove_section_icon{
                    margin-top: 30px;
                    color: red !important;
                    margin-left: 15px;
                }
            }
            .collapsible-body{
                //background-color: #f00;
                padding: 0px !important;
                //min-height: 500px !important;
            }
        }

		.book_ads{
			img{
				width: 300px;
				height: 400px;
			}
		}

        .totop{
            margin-top: 20px;
			text-align: right;
		}

		hr{
			color: #ccc;
		}
	}

    @media screen and (max-width: 480px) {
        body {
            background-color: lightgreen;
        }
        .book_info_section{
            margin: -10px -20px 0px -20px !important;
            //background-color: #f00;
            
            .collapsible{
                min-width:  335px !important;
                width: 100% !important;
            }
        }

        .section_div{
            margin: 0px -20px 0px - 20px !important;
            min-width: 355px !important;
            width: 100% !important;
            padding: 10px !important;

            .chapter_content{
                
                //background-color: #f00 !important;
                width: 100% !important;
            }
        }

        .added_section{
            li{
                margin-left: 10px !important;
                margin-right: 10px !important;
            }

            li.active{
                margin-left: 0px !important;
                margin-right: 0px !important;
            }
        }
    }
</style>
