<template>
	<div class="userdashboard">
		<MainMenu/>
		<section id="userstat_section" class="fixed">
            <div class="text_block">
				<div class="row">
					<div class="col m6 s3">
						<span class="ti ti-book"></span> : <span class="value"><a href="#">{{numbooks}}</a></span><br/>
					</div>
					<div class="col m6 s9">
						<a href="#">
							<span class="ti ti-wallet"></span> Wallet: <span class="value">&#8358;{{Number(balance).toLocaleString()}}</span>
						</a> &nbsp; | &nbsp;
						<a href="#" v-on:click.prevent="AddDeposit"><span class="ti ti-credit-card"></span> Deposit</a>
					</div>
				</div>
			</div>
		</section>
		<section id="data_section">
			<div class="row" v-show="avail_read">
				<div v-show="doc_ready">
					<ul class="collapsible">
						<li class="active">
							<div class="collapsible-header">
								<i class="ti ti-angle-down"></i>
								<span class="text">My Library</span>
							</div>
							<div class="collapsible-body">
								<table class="highlight hide-on-small-only">
									<thead>
										<tr>
											<th>&nbsp;</th>
											<th>Title</th>
											<th>Author</th>
											<th>Price</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(bb, index) in myreads" :key="index">
											<td>
												<a href="#">
													<span class="ti ti-close delete"></span>
												</a>
											</td>
											<td>{{bb.title}}</td>
											<td>{{bb.author}}</td>
											<td>
												<span v-if="Number(bb.price) > 0">{{bb.price}}</span>
												<span v-if="Number(bb.price) == 0"> Free </span>
											</td>
											<td class="action">
												<a href="#" v-on:click.prevent="GoUserReadBook(bb)" class="read"><span class="ti ti-book"></span> Read</a>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="show-on-small hide-on-med-and-up">
									<div class="" v-for="(bb, index) in myreads" :key="index">
										<div class="row">
											<div class="col s12">
												<span class="label"><span class="ti ti-file"></span> Title:</span> {{bb.title}}<br/>
												<span class="label"><span class="ti ti-user"></span> Author:</span> {{bb.author}}<br/>
												<span class="label"><span class="ti ti-credit-card"></span> Cost:</span> 
												<span v-if="Number(bb.price) > 0"> &#8358; {{bb.price}} </span> <br/> 
												<span v-if="Number(bb.price) == 0"> Free </span>
											</div>
										</div>
										<div class="row action">
											<div class="col s8 read">
												<a href="#" v-on:click.prevent="GoUserReadBook(bb)"><span class="ti ti-book"></span> Read</a> &nbsp; &nbsp;
											</div>
											<div class="col s4 delete">
												<a href="#"> <span class="ti ti-trash"></span> Delete</a>
											</div>
										</div>
										<hr/>
									</div>
								</div>
								<div class="row pagination">
									<div class="col s12 ">
										<button :disabled="Previous_ContinueBtn ? false : true" class="btn" v-on:click.prevent="PreviousView">Previous</button>
										&nbsp; Page {{ pagestart }} &nbsp;
										<button :disabled="Next_ContinueBtn ? false : true" class="btn" v-on:click.prevent="NextView">Next</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="totop" v-show="doc_ready">
					<a href="#" v-on:click.prevent="GoToTop">Go To Top <span class="ti ti-arrow-up"></span></a>
				</div>
			</div>

			<div class="row" v-if="!avail_read">
				<div class="col s12 no_read" v-show="doc_ready">
					{{ avail_msg }}
					<p>
						<a href="#store" v-on:click.prevent="GoStore"> Click Here</a> to get books
					</p>
				</div>
			</div>
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
		</section>
		<AddDeposit/>
		<RecommendedBooks/>
        <MainFooter/>
	</div>
</template>

<script>
	// @ is an alias to /src
	//import HelloWorld from "@/components/HelloWorld.vue";
	import MainMenu from "@/components/MainMenu.vue";
	import MainFooter from "@/components/MainFooter.vue";
	import RecommendedBooks from "@/components/RecommendedBooks.vue";
	import MainBase from "@/allservices/controller/MainBase.js";
	import AddDeposit from "@/components/modal/AddDeposit.vue";

	export default {
		name: "userdashboard",
		components: {
			MainMenu, MainFooter, RecommendedBooks, AddDeposit
		},
		data: function(){
        	return{
				app_name: this.$appName,
				default_url: this.$defaultURL,
				doc_ready: false,
				avail_read: false,
				avail_msg: "",
				selected_cat: "0",
				see_label: 'Recently Published',
				myreads: "",
				parent_cat: [
					{
						id: "1",
						title: "Recently Published"
					},
					{
						id: "2",
						title: "Featured Books"
					},
					{
						id: "3",
						title: "Most Read"
					}
				],
				numbooks: "0",
				balance: "0",
				progress_status: {
					next: false,
					previous: false
				},
				pagestart: 1,
				pagelimit: "10",
			};
		},
		computed: {
            Next_ContinueBtn:{
                get: function(){
                    if(this.progress_status.next){
                        return false;
                    }else{
						return true;
                    }
                },
                set: function(){
                    
                }
			},
			
			Previous_ContinueBtn:{
				get: function(){
                    if(this.progress_status.previous){
                        return false;
                    }else{
						if(Number(this.pagestart) <= 1){
							return false;
						}else{
							return true;
						}
                    }
                },
                set: function(){
                    
                }
			}
        },
		mounted: function(){
			M.AutoInit();
			let m_elem = document.querySelectorAll('.modal');
			M.Modal.init(m_elem, {dismissible: false})
			if(!(MainBase.readerLoggedIn())){
				this.$router.push('bookstore');
			}
		},
		created: function(){
			if(MainBase.readerLoggedIn()){
				var process_d = MainBase.getSessionItem("process_data");
				if(process_d){
					let d_data = {
						id: process_d.id,
						email: process_d.email,
						jauth: process_d.jauth,
						username: process_d.username
					};
					MainBase.showProgressBar();
					let done_ = MainBase.myReads(d_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.code == 200){
							MainBase.removeProgressBar();
							if(c_response.data.hasOwnProperty('book')){
								this.myreads = c_response.data.book;
								this.doc_ready = true;
								this.avail_read = true;
								this.pagestart = Number(c_response.data.pagestart);
								this.pagelimit = c_response.data.pagelimit;
								this.numbooks = c_response.data.numbooks;
								this.balance = c_response.data.balance;
								process_d.balance = c_response.data.balance;
								MainBase.setSessionItem("process_data", JSON.stringify(process_d));
							}else{
								//alert(c_response.message);
								let bal_ = MainBase.getWallet(d_data);
								bal_.then(data=>{
									let b_response = data;
									if(b_response.code = 200){
										this.balance = b_response.data.wallet.balance;
										process_d.balance = b_response.data.wallet.balance;
										MainBase.setSessionItem("process_data", JSON.stringify(process_d));
									}
								});
							}
						}
						
						if(c_response.code == 400){
							MainBase.removeProgressBar();
							this.doc_ready = true;
							this.avail_msg = c_response.message;
							this.avail_read = false;
							//alert(c_response.message);
						}
						if(c_response.code == 404){
							MainBase.logoutUser();
						}
					});
				}else{
					this.$router.push('/');
				}
			}else{
				this.$router.push('bookstore');
			}
		},
		methods: {
			GetBookByCat: function(new_d){
				//alert("Hey you");
				this.see_label = new_d;
				this.goToTop();
			},

			goToBookInfo: function(b_num){
				//this.goToTop();
				this.$router.push('/bookinfo');
			},

			GoStore: function(){
				this.$router.push('bookstore');
			},

			AddDeposit: function(){
				MainBase.openModal("add_deposit");
				var p = setInterval(this.UpdateWallet, MainBase.updateIntervalTime());
				setTimeout(function() { clearInterval(p); }, MainBase.clearIntervalTime());
			},

			UpdateWallet: function(){
				if(MainBase.readerLoggedIn()){

					var process_d = MainBase.getSessionItem("process_data");
					if(process_d){
						if(process_d.hasOwnProperty("balance")){
							this.balance = process_d.balance;
						}
					}
				}
			},
			PreviousView: function(){
				if(MainBase.readerLoggedIn()){
					var process_d = MainBase.getSessionItem("process_data");
					if(process_d){
						var cal_p = Number(this.pagestart) - 1;
						if(cal_p > 0){

							let ddata = {
								id: process_d.id,
								email: process_d.email,
								jauth: process_d.jauth,
								username: process_d.username,
								pagelimit: this.pagelimit,
								pagestart: cal_p,
								catid: this.selected_cat.value
							};

							this.GetPaginateBooks(ddata, "previous");
						}
					}
				}
			},

			NextView: function(){
				if(MainBase.readerLoggedIn()){
					var process_d = MainBase.getSessionItem("process_data");
					if(process_d){

						var cal_p = Number(this.pagestart) + 1;
						if(cal_p > 0){
							let ddata = {
								id: process_d.id,
								email: process_d.email,
								jauth: process_d.jauth,
								username: process_d.username,
								
								pagelimit: this.pagelimit,
								pagestart: cal_p,
								catid: this.selected_cat.value
							}
							this.GetPaginateBooks(ddata, "next");
						}
					}
				}
			},

			GetPaginateBooks: function(ddata, s_t){
				var process_d = MainBase.getSessionItem("process_data");
				if(process_d){
					if(s_t == "previous"){
						this.progress_status.previous = true;	
					}
					if(s_t == "next"){
						this.progress_status.next = true;
					}
					//this.doc_ready = false;
					MainBase.showProgressBar();
					let donee_ = MainBase.myReads(ddata);
					donee_.then(data =>{
						let c_response = data;
						if(c_response.code == 200){
							MainBase.removeProgressBar();
							if(c_response.data.hasOwnProperty('book')){
								this.myreads = c_response.data.book;
								this.doc_ready = true;
								this.avail_read = true;
								this.pagestart = Number(c_response.data.pagestart);
								this.pagelimit = c_response.data.pagelimit;
								this.numbooks = c_response.data.numbooks;
								this.balance = c_response.data.balance;
								

								process_d.balance = c_response.data.balance;
								MainBase.setSessionItem("process_data", JSON.stringify(process_d));
								if(s_t == "previous"){
									this.progress_status.previous = false;
									
								}
								if(s_t == "next"){
									this.progress_status.next = false;
								}
							}else{
								//alert(c_response.message);
								let bal_ = MainBase.getWallet(ddata);
								bal_.then(data=>{
									let b_response = data;
									if(b_response.code = 200){
										this.balance = b_response.data.wallet.balance;
										process_d.balance = b_response.data.wallet.balance;
										MainBase.setSessionItem("process_data", JSON.stringify(process_d));
									}
								});
							}
						}else{
							MainBase.removeProgressBar();
							//this.avail_msg = c_response.message;
							//this.avail_read = false;

							if(s_t == "next"){
								this.progress_status.next = false;
								this.doc_ready = true;
								this.avail_read = true;
								MainBase.alert("info", c_response.message);
							}
							//alert(c_response.message);
						}
					});
				}
			},

			GoToTop: function(){
				MainBase.goToTop();
			},
			GoUserReadBook: function(bookd){
				if(MainBase.readerLoggedIn()){
					var process_d = MainBase.getSessionItem("process_data");
					process_d.book = {
						bookid: bookd.bookid,
						epuburl: "",
						coverurl: ""
					};

					let d_data = {
						id: process_d.id,
						bookid: process_d.book.bookid,
						email: process_d.email,
						jauth: process_d.jauth,
						username: process_d.username
					};

					let done_ = MainBase.userReadBook(d_data);
					done_.then(data =>{
						let c_response = data;
						if(c_response.code == 200){
							if(c_response.hasOwnProperty('data')){
								if((Number(c_response.data.book.bookid) > 0)){
									process_d.book.epuburl = this.default_url + c_response.data.book.epath + c_response.data.book.epub;
									process_d.book.coverurl = this.default_url + c_response.data.book.cpath + c_response.data.book.coverpic;
									MainBase.setSessionItem("process_data", JSON.stringify(process_d));
									location.href = "/reader/index.html";
								}else{
									MainBase.alert("error", "No book selected");
								}
							}else{
								//alert(c_response.message);
							}
						}else{
							MainBase.alert("error", "Sorry, couldn't get book from the server");
							//alert(c_response.message);
						}
					});
					/*
						let d_data = {
							id: process_d.id,
							email: process_d.email,
							jauth: process_d.jauth,
							username: process_d.username
						};
					*/
				}
				//this.$router.push('userreadbook');
			}
		}
	};
</script>
<style lang="scss" scoped>
	@import "@/assets/plugins/materialize/sass/materialize.scss";
	section{
		padding: 50px;
	}

	#userstat_section{
		background-color: #e9dcdc;;
		color: #333;
		padding: 10px 10px 0px 10px;
		position: fixed !important;
		width: 100%;
		z-index: 1;
		
		//margin
		.text_block:nth-child(1){
			//margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 12px;
			text-align: right;
			text-transform: capitalize;
			line-height: 25px;
			//font-weight: bold;

			.m6:nth-child(1){
				text-align: left !important;
			}

			.value{
				font-weight: bold;
				color: $primary-color;
				font-size: 14px;
			}
			
		}
		.text_block:nth-child(2){
			padding: 0 50px 0 50px;
		}
	}

    #data_section{
		margin-top: 40px;
		padding: 50px 20px 20px 20px;
		text-align: left;
		min-height: 400px;

		.totop{
			text-align: right;
		}

		.no_read{
			padding: 50px;
			font-size: 18px;
			text-align: center;
			min-height: 150px;

			a{
				font-size: 18px !important;
			}
		}

		.collapsible{
			.pagination{
				.btn{
					font-size: 12px;
				}
				padding-top: 10px;
				text-align: center;
				font-size: 12px !important;
				margin: 50px 0px 0px 0px;
			}
			.collapsible-header{
				//color: #ccc;
				//background-color: $secondary-color;
				font-size: 15px;
				padding: 5px 10px 0px 5px;
				.ti{
					font-size: 18px;
				}
				.text{
					font-size: 18px;
				}
			}

			.collapsible-body{
				padding-top: 5px;
				.hide-on-med-and-up{
					span{
						font-weight: bold;
					}
				}
				
				.action{
					//font-size: 80%;
					.read{
						color: #116311;

						font-weight: bold;
						//font-size: 11px;
					}
					.delete{
						text-align: right;
						a{
							color: #f00;
							font-size: 12px;
						}
					}
				}
			}
		}
		
		.see_label{
			color: #bbb;
		}
		hr{
			color: #ccc;
		}
		.card{

			.card-desc{
				text-align: left;
				.book_title{
					font-size: 18px;
					padding-top: 10px;
					font-weight: bold;
				}

				.book_author{
					font-size: 13px;
					padding-bottom: 10px;
				}
				.book_desc{
					color: #787878;
					//text-align: left;
				}
				.book_stat{
					margin-bottom: 0px;
					font-size: 12px;
				}
				.book_cost{
					font-weight: bold;
					color: $primary-color;
					font-size: 16px;
				}
			}
			padding: 10px;
			box-shadow: 1px 1px 6px 0 #cfcaca;
			text-align: center;
			text-decoration: none;
			max-width: 100%;
			min-width: 200px;
			display: inline-block;
			cursor: pointer;
			//margin: 0px;

			img{
				max-height: 250px;
				height: 100%;
			}

			

			.btn{
				background-color: $primary-color;
			}
		}
	}
</style>
