<template>
    <div class="addbank">
        <div id="addbank_modal" class="modal">
            <div class="modal-content">
                <div class="">
                    <h5>Add Account Detail</h5>
                    <p>To proceed as a publisher please provide your account detail</p>
                </div>
                <div v-if="validity_status" class="error_msg">{{validity_msg}}</div>
                <div class="input-field">
                    <select class="browser-default" v-model="bank_detail.bank">
                        <option value="0" selected disabled>--Select Bank--</option>
                        <option :value="bank.id" v-for="(bank, index) in banks" :key="index"> {{bank.bank}}</option>
                    </select>
                </div>
                
                <div class="input-field">
                    <input id="b_name" placeholder="Account Name" type="text" class="validate" v-model="bank_detail.acname">
                </div>
                <div class="input-field">
                    <input id="b_number" type="text" class="validate" placeholder="Account Number" v-model="bank_detail.acnum">
                </div>
                <div class="input-field s12 a_btn">
                    <button :disabled="Save_B_ContinueBtn ? false : true" class="btn" v-on:click.prevent="SaveBankDetail">Save</button>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" v-on:click.prevent="CloseModal('signup_modal')">Not now</a>
            </div>
        </div>		
    </div>
</template>
<script>
    //import GuestMenu from "@/components/menu/GuestMenu.vue";
    import MainBase from "@/allservices/controller/MainBase.js";
    import GuestBase from "@/allservices/controller/GuestBase.js";

    
export default {
    name: "addbank",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName,
            show:{
                status: false,
                true_text: "Show",
                false_text: "Hide"
            },
            signup_data: {
                email: "",
                phone: "",
                pwd: ''    
            },
            validity_msg: "",
            validity_status: false,
            progress_status: false,
            bank_detail: {
                acname: "",
                acnum: "",
                bank: "0"
            },
            banks: "",
            progress_status: {
                update_p: false,
                save_b: false,	
            }
            
        };
    },
    created: function(){
        var process_d = MainBase.getSessionItem("process_data");
        if(process_d){
            let d_data = {
                id: process_d.id,
                email: process_d.email,
                jauth: process_d.jauth
            };
            let done_ = MainBase.getBanks(d_data);
            done_.then(data =>{
                let b_response = data;
                if(b_response.code == 200){
                    if(b_response.data.hasOwnProperty("banks")){
                        if(b_response.data.banks != null){
                            this.banks = b_response.data.banks;
                        }
                    }
                }
            });
        }
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    computed: {
        Save_B_ContinueBtn:{
            get: function(){
                if(this.validity_status){
                    return false;
                }else{
                    if(this.progress_status.save_b){
                        return false;
                    }else{
                        return true;
                    }
                }
            },
            set: function(){
                
            }
        }
    },
    mounted: function(){
        M.AutoInit();
        
        //let m_elem = document.querySelectorAll('.modal');
		//M.Modal.init(m_elem, {dismissible: false})
    },
    methods: {
        Hello: function(){
            
        },

        ValidateInput: function(data){
            if(data == "email"){
                if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.signup_data.email)){
                    if(this.signup_data.email.length < 6){
                        this.validity_status = true;
                        this.validity_msg = "Please Provide a Valid Email";
                    }else{
                        this.validity_status = false;
                    }
                }else{
                    this.validity_status = true;
                    this.validity_msg = "Please provide a valid email";
                }
            }

            if(data == "phone"){
                if(isNaN(this.signup_data.phone)){
                    this.validity_status = true;
                    this.validity_msg = "Please provide a valide number";
                }else{
                   this.validity_status = false;
                   //this.validity_msg = "" 
                }
            }

            if(data == "pwd"){
                if(this.signup_data.pwd.length < 6){
                    this.validity_status = true;
                    this.validity_msg = "Password requires minimum of 6 characters";
                }else{
                    this.validity_status = false;
                }
            }
        },

        
        ShowPword: function(){
            var pword_element = document.getElementById("signuppassword");
            if(this.show.status == true){
                this.show.status = false;
                pword_element.setAttribute("type", "password");
                
            }else if(this.show.status == false){
                this.show.status = true;
                pword_element.setAttribute("type", "text");
            }
        },
        
        OpenModal: function(data){
                this.signup_data.email = "";
                this.signup_data.phone = "";
                this.signup_data.pwd = "";
                this.progress_status = false;
            
            MainBase.closeModal('signup_modal');
            MainBase.openModal(data);
        },

        CloseModal: function(data){
            this.$router.push("bookstore");
            MainBase.closeModal(data);
        },

        SaveBankDetail: function(){
            var process_d = MainBase.getSessionItem("process_data");
            if(process_d){
                let p_data = {
                    id: process_d.id,
                    jauth: process_d.jauth,
                    email: process_d.email,
                    
                    bank: this.bank_detail.bank,
                    acname: this.bank_detail.acname,
                    acnum: this.bank_detail.acnum
                };

                MainBase.showProgressBar();
                this.progress_status.save_b = true;
                let done_ = MainBase.myProfile(p_data);
                done_.then(data =>{
                    let c_response = data;
                    if(c_response.hasOwnProperty("code")){
                        if(c_response.code == 200){
                            MainBase.removeProgressBar();
                            if(c_response.data.hasOwnProperty('user')){
                                if(c_response.data.user != null){
                                    MainBase.removeProgressBar();
                                    this.progress_status.save_b = false;
                                    MainBase.closeModal('addbank_modal');
            
                                    
                                    MainBase.alert("success", c_response.message);
                                }else{
                                    MainBase.alert("info", "Check your data structure");
                                }
                            }else{
                                MainBase.alert("info", "Check your data structure");
                            }
                        }
                        
                        if(c_response.code == 400){
                            this.progress_status.save_b = false;

                            MainBase.removeProgressBar();
                            MainBase.alert("error", c_response.message);
                            
                            //alert(c_response.message);
                        }

                        if(c_response.code == 404){
                            MainBase.logoutUser();
                        }
                    }else{
                        MainBase.alert("info", "Check your data structure");
                    }
                });

            }else{
                MainBase.logoutUser();
            }
        }
    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";

    .modal{
        max-width: 400px;

        h1, h2, h3, h4, h5, h6{
            color: $secondary-color;
            font-weight: bold;
        }
        .btn{
            width: 100%;
            background-color: $primary-color;
        }

        .block_text{
            margin: 10px 0px 20px 0px;
            text-align: left;
            font-size: 13px;
        }

        .row{
            margin: 0px;
            padding: 0px;
            .input-field{
                margin: 0px;
                padding: 0px;
            }

            .show_p{
                padding-top: 10px;
            }
        }
    }

    
    
</style>



