<template>
    <div class="adddeposit">
        <div id="add_deposit" class="modal">
            <div class="modal-content">
                <div class="input-field">
                    <label for="d_amount" class="active">How much do you want to Deposit (Naira)</label>
                    <input type="number" placeholder="Enter Amount" v-model="deposit.amount" id="d_amount">
                </div>
                <div>
                    <button class="btn" v-on:click.prevent="makeDeposit">Deposit</button>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn-flat">Cancel</a>
            </div>
        </div>
    </div>
</template>


<script>

import MainBase from "@/allservices/controller/MainBase.js";

export default {
    name: "adddeposit",
    components: {

    },
    data: function(){
        return{
            deposit: {
                amount: ""
            },
            min_amount: "2,000"
        }
    },
    watch: {
        
    },
    mounted: function(){
        M.AutoInit();
        
    },
    computed:{
        
    },
    methods: {
        makeDeposit: function(){
            let fund_amount = Number(this.deposit.amount);
            if(fund_amount >= 2000){
                let process_d = MainBase.getSessionItem("process_data");
                if(process_d.hasOwnProperty("book")){
                    let d_data = {
                        id: process_d.id,
                        email: process_d.email,
                        jauth: process_d.jauth,
                        username: process_d.username,
                        bookid: process_d.book.readbookinfo.id,
                        pspk: process_d.pspk,
                        amount: fund_amount
                    };
                    //MainBase.closeModal("add_deposit");
                    MainBase.showProgressBar();
                    MainBase.fundWallet(d_data);
                }else{
                    let d_data = {
                        id: process_d.id,
                        email: process_d.email,
                        jauth: process_d.jauth,
                        username: process_d.username,
                        pspk: process_d.pspk,
                        amount: fund_amount
                    };
                    //MainBase.closeModal("add_deposit");
                    MainBase.showProgressBar();
                    MainBase.fundWallet(d_data);
                }
            }else{
                MainBase.alert("info", "Please your amount shouldn't be less than " + this.min_amount);
            }
        }
    }
};
</script>


<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";
    
    .modal{
        max-width: 500px;
        .modal-content{            
            min-height: 250px;
            padding-top: 60px;

            .input-field{
                label{
                    font-size: 20px;
                }
                input{
                    font-size: 20px;
                    margin-top: 30px;
                }
            }
            
            button{
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        
    }
</style>