<template>
    <div class="forgotpassword">
        <div id="forgotpassword_modal" class="modal">
            <div class="modal-content">
                <div class="">
                    <h5>Recover Password</h5>
                </div>
                <div class="input-field">
                    <input id="f_email" placeholder="Enter your email address" type="text" class="validate">
                </div>
                <div class="">
                    <button class="btn " >Submit</button>
                </div>
                <div class="block_text">
                    <div>Remembered password ? <a v-on:click.prevent="OpenModal('login_modal')">Login</a></div>
                </div>
            </div>
            <div class="modal-footer">
                <a class=" waves-effect waves-green btn-flat" v-on:click.prevent="CloseModal('forgotpassword_modal')">close</a>
            </div>
        </div>		
    </div>
</template>
<script>
    //import GuestMenu from "@/components/menu/GuestMenu.vue";
    import GeneralBase from "@/allservices/controller/MainBase.js";
    
export default {
    name: "forgotpassword",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName
        };
    },
    created: function(){
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    mounted: function(){
        M.AutoInit();
        
        //let m_elem = document.querySelectorAll('.modal');
		//M.Modal.init(m_elem, {dismissible: false})
    },
    methods: {
        Hello: function(){
            
        },

        OpenModal: function(data){
            GeneralBase.closeModal('forgotpassword_modal');
            GeneralBase.openModal(data);
        },

        CloseModal: function(data){
            GeneralBase.closeModal(data);
        }
    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";

    .modal{
        max-width: 400px;

        h1, h2, h3, h4, h5, h6{
            color: $secondary-color;
            font-weight: bold;
        }
        .btn{
            width: 100%;
            background-color: $primary-color;
        }

        .block_text{
            margin: 10px 0px 20px 0px;
            text-align: left;
            font-size: 13px;
        }
    }

    
    
</style>



