<template>
    <div class="login">
        <div id="login_modal" class="modal">
            <div class="modal-content">
                <div class="">
                    <h5>Login</h5>
                </div>
                <div v-if="validity_status" class="error_msg">{{validity_msg}}</div>
                <div class="input-field">
                    <input id="l_email" type="email" class="validate" placeholder="Username or Email Address" v-model="login_data.uname" v-on:input="ValidateInput('uname')">
                </div>
                <div class="input-field">
                    <input id="l_password" type="password" class="validate" placeholder="Password" v-model="login_data.pwd" v-on:input="ValidateInput('pwd')">
                </div>
                <div class="">
                    <button class="btn" v-on:click.prevent="LogIn" :disabled="ContinueBtn ? false : true">Login</button>
                    <!-- <div class="progress" v-if="progress_status">
                        <div class="indeterminate"></div>
                    </div> -->
                </div>
                <div class="block_text">
                    <div>Have an account ? <a v-on:click.prevent="OpenModal('signup_modal')">Signup</a></div>
                    <div>
                        <a v-on:click.prevent="OpenModal('forgotpassword_modal')">Forgot password</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class=" waves-effect waves-green btn-flat" v-on:click.prevent="CloseModal('login_modal')">close</a>
            </div>
        </div>		
    </div>
</template>
<script>
    //import GuestMenu from "@/components/menu/GuestMenu.vue";
    import MainBase from "@/allservices/controller/MainBase.js";
    import GuestBase from "@/allservices/controller/GuestBase.js";
    
export default {
    name: "login",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName,
            login_data: {
                uname: "",
                pwd: ''    
            },
            validity_msg: "",
            validity_status: false,
            progress_status: false
        };
    },
    created: function(){
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    computed: {
        ContinueBtn:{
            get: function(){
                if(this.validity_status){
                    return false;
                }else{
                    if(this.login_data.uname.length > 1){
                        if(this.login_data.pwd.length > 1){
                            return true;
                        }else{
                            return false;
                        }
                    }else{
                        return false;
                    }
                }
            },
            set: function(){
                
            }
        }
    },
    mounted: function(){
        M.AutoInit();
        
        //let m_elem = document.querySelectorAll('.modal');
		//M.Modal.init(m_elem, {dismissible: false})
    },
    methods: {
        Hello: function(){
            
        },

        OpenModal: function(data){
            
            this.login_data.uname = "";
            this.login_data.pwd = "";
            this.progress_status = false;
            
            MainBase.closeModal('login_modal');
            MainBase.openModal(data);
        },

        CloseModal: function(data){
            this.login_data.uname = "";
            this.login_data.pwd = "";
            this.progress_status = false;
            MainBase.removeProgressBar();
            MainBase.closeModal(data);
        },
        ValidateInput: function(data){
            if(data == "uname"){
                if(this.login_data.uname.length < 6){
                    this.validity_status = true;
                    this.validity_msg = "Please Provide a Valid Email or Username";
                    MainBase.removeProgressBar();
                    this.progress_status = false;
                }else{
                    if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.login_data.uname)){
                        this.validity_status = false;
                    }else{
                        this.validity_status = true;
                        this.validity_msg = "Please provide a valid email";
                    }
                }
            }

            if(data == "pwd"){
                if(this.login_data.pwd.length < 1){
                    this.validity_status = true;
                    this.validity_msg = "Password required";
                    MainBase.removeProgressBar();
                    this.progress_status = false;
                }else{
                    this.validity_status = false;
                }
            }
        },

        LogIn: function(){
            let d_data = {
                email: this.login_data.uname,
                password: this.login_data.pwd
            };
            this.progress_status = true;
            this.validity_status = true;
            this.validity_msg = "";
            MainBase.showProgressBar();
            let done_ = GuestBase.logIn(d_data);;
            done_.then(data => {
                let loginResponse = data;
                if(loginResponse.code == 200){
                   if(loginResponse.data.hasOwnProperty('user')){
                        MainBase.setSessionItem("usertype", "reader");
                        MainBase.setSessionItem("process_data", JSON.stringify(loginResponse.data.user));
                        let process_d = MainBase.getSessionItem("process_data");
                        process_d.pspk = loginResponse.data.pspk;
                        MainBase.setSessionItem("process_data", JSON.stringify(process_d));

                        this.progress_status = false;
                        this.validity_status = false;
                        MainBase.closeModal("login_modal");
                        this.$router.push("userdashboard");
                   }else{
                       MainBase.alert("info", "Something wrong with your data structure");
                   }
                }else{
                    this.progress_status = false;
                    this.validity_msg = loginResponse.message;
                    this.validity_status = true;
                    MainBase.removeProgressBar();
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";

    .modal{
        max-width: 400px;

        h1, h2, h3, h4, h5, h6{
            color: $secondary-color;
            font-weight: bold;
        }
        .btn{
            width: 100%;
            background-color: $primary-color;
        }

        .block_text{
            margin: 10px 0px 20px 0px;
            text-align: left;
            font-size: 13px;
        }
    }

    
    
</style>



