<template>
    <div class="makewithdrawal">
        <div id="make_withdrawal" class="modal">
            <div class="modal-content">
                <div class="">
                    <div class="input-field">
                        <label for="d_amount" class="active">How much do you want to Withdraw (Naira)</label>
                        <input type="number" placeholder="Enter Amount" v-model="withdraw.amount" id="d_amount">
                    </div>
                    <div>
                        <button class="btn" v-on:click.prevent="makeWithdrawal">Withdraw</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn-flat">Cancel</a>
            </div>
        </div>
    </div>
</template>


<script>

import MainBase from "@/allservices/controller/MainBase.js";

export default {
    name: "makewithdrawal",
    components: {

    },
    data: function(){
        return{
            withdraw: {
                amount: ""
            },
            min_amount: "2,000"
        }
    },
    watch: {
        
    },
    mounted: function(){
        M.AutoInit();
        
    },
    computed:{
        
    },
    methods: {
        makeWithdrawal: function(){
            let wit_amount = Number(this.withdraw.amount);
            if(wit_amount >= 2000){
                var process_d = MainBase.getSessionItem("process_data");
                if(process_d.hasOwnProperty("earning")){
                    if(Number(process_d.earning) >= Number(wit_amount)){
                        swal({
                            title: "Confirm",
                            text: "Please confirm you want to make withdrawal", 
                            icon: "info",
                            buttons: {
                                cancel: {
                                    text: "No, Cancel",
                                    value: null,
                                    visible: true,
                                    className: "",
                                    closeModal: true,
                                    color: "#f00"
                                },
                                confirm: {
                                    text: "Yes Make Withdrawal",
                                    value: true,
                                    visible: true,
                                    className: "",
                                    closeModal: true
                                }
                            },
                            //confirmButtonText: 'Continue Withdrawal',
                            //dangerMode: true,
                        })
                        .then((isConfirm) => {
                            if (isConfirm) {
                                let process_d = MainBase.getSessionItem("process_data");
                                let d_data = {
                                    id: process_d.id,
                                    email: process_d.email,
                                    jauth: process_d.jauth,
                                    username: process_d.username,
                                    wamt: this.withdraw.amount
                                };
                                MainBase.closeModal("make_withdrawal");
                                MainBase.showProgressBar();
                                let done_ = MainBase.withdrawEarnings(d_data);
                                done_.then(data => {
                                    let w_response = data;
                                    if(w_response.code == 200){
                                        if(w_response.hasOwnProperty("data")){
                                            if(w_response.data.hasOwnProperty("balance")){
                                                process_d.earning = w_response.data.balance;
                                                //MainBase.updateEarnings(w_response.data.balance);
                                                
                                                if(w_response.data.hasOwnProperty("pending")){
                                                    process_d.pending_wit = w_response.data.pending;
                                                }
                                                MainBase.setSessionItem("process_data", JSON.stringify(process_d));
                                                MainBase.removeProgressBar();
                                                this.withdraw.amount = "";
                                                MainBase.alert("success", w_response.message);

                                            }else{
                                                MainBase.alert("info", "Withdrawal was successful but something wrong with your data structure");
                                            }
                                        }
                                    }
                                        
                                    if(w_response.code == 400){
                                        MainBase.alert("error", w_response.message);
                                        MainBase.removeProgressBar();
                                        this.withdraw.amount = "";
                                    }
                                });
                                
                            } else {
                                //swal("Your imaginary file is safe!");
                            }
                        });
                    }else{
                        MainBase.alert("warning", "You don't have up to that in your earnings");
                    }
                }else{
                    MainBase.alert("error", "Something is wrong somewhere, are you sure you have any earning ?");
                }
            }else{
                MainBase.alert("info", "Please your amount shouldn't be less than " + this.min_amount);
            }
        }
    }
};
</script>


<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";
    
    .modal{
        max-width: 500px;
        .modal-content{            
            min-height: 250px;
            padding-top: 60px;

            .input-field{
                label{
                    font-size: 20px;
                }
                input{
                    font-size: 20px;
                    margin-top: 30px;
                }
            }
            
            button{
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        
    }
</style>