<template>
    <div class="notify">
        <div id="notify_me" class="modal">
            <div class="modal-content">
                <h5>Ohhh, read this please</h5><br/>
                <h6>{{ notifymsg.msg }}</h6><br/>
                <span>Do you want to topup your Wallet ? <br/>If Yes click the button, otherwise Ignore</span>
                <div>
                    <button class="btn" v-on:click.prevent="AddDeposit">Yes, I want to Topup</button>
                </div>
            </div>
            <div class="modal-footer">
                <a class="modal-close btn-flat">Ignore</a>
            </div>
        </div>
    </div>
</template>


<script>
import MainBase from "@/allservices/controller/MainBase.js";

export default {
    name: "notify",
    components: {

    },
    props: ['notifymsg'],
    watch: {
        
    },
    created: function(){
        
    },
    mounted: function(){
        M.AutoInit();
        /* var elems = document.getElementById('notify_me');
        var options = {
            onOpenEnd: function(){
                this.notify.message = "We";
            }
        }
        var instances = M.Modal.init(elems, options);
 */
        if(MainBase.readerLoggedIn()){
            let process_d = MainBase.getSessionItem("process_data");
            if(process_d.hasOwnProperty("notify")){
                //this.notify.message = process_d.notify.message;
                
            }
        }
        
    },
    computed:{
        NotifyMessage:{
            get: function(){
                if(MainBase.readerLoggedIn()){
                    let process_d = MainBase.getSessionItem("process_data");
                    if(process_d.hasOwnProperty("notify")){
                        //this.notify.message = process_d.notify.message;
                    }
                }
            },
            set: function(){
                
            }
        }
    },
    methods: {
        AddDeposit: function(){
            MainBase.closeModal("notify_me");
            MainBase.openModal("add_deposit");
        }
    }
};
</script>


<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";

    .modal{
        max-width: 500px;
        .modal-content{            
            min-height: 250px;
            padding: 0px 50px 0px 50px;
            button{
                width: 100%;
                margin-top: 20px;
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .modal{
            .modal-content{
                padding: 20px;
            }
        }
    }
</style>