<template>
    <div class="signup">
        <div id="signup_modal" class="modal">
            <div class="modal-content">
                <div class="">
                    <h5>SignUp</h5>
                </div>
                <div v-if="validity_status" class="error_msg">{{validity_msg}}</div>
                <div class="input-field">
                    <input id="f_email" placeholder="Fullname" type="text" class="validate" v-model="signup_data.fullname" v-on:input="ValidateInput('fullname')">
                </div>
                <div class="input-field">
                    <input id="s_email" placeholder="Email Address" type="email" class="validate" v-model="signup_data.email" v-on:input="ValidateInput('email')">
                </div>
                <div class="input-field ">
                    <input id="phone" type="text" class="validate" placeholder="Phone Number" v-model="signup_data.phone" v-on:input="ValidateInput('phone')">
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <input id="signuppassword" type="password" class="" placeholder="Create Password" v-model="signup_data.pwd" v-on:input="ValidateInput('pwd')">
                    </div>
                    <div class="right col s2 show_p"><a href="#" v-on:click.prevent="ShowPword"><span class="ti ti-eye ti-lg"></span> </a></div>
                </div>
                <div class="">
                    <button class="btn " v-on:click.prevent="SignUp" :disabled="ContinueBtn ? false : true">SignUp</button>
                    <!-- <div class="progress" v-if="progress_status">
                        <div class="indeterminate"></div>
                    </div> -->
                </div>
                <div class="block_text">
                    <div class="col m8 s12">Already have an account ? <a v-on:click.prevent="OpenModal('login_modal')">Login</a></div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="waves-effect waves-green btn-flat" v-on:click.prevent="CloseModal('signup_modal')">close</a>
            </div>
        </div>		
    </div>
</template>
<script>
    //import GuestMenu from "@/components/menu/GuestMenu.vue";
    import MainBase from "@/allservices/controller/MainBase.js";
    import GuestBase from "@/allservices/controller/GuestBase.js";

    
export default {
    name: "signup",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName,
            show:{
                status: false,
                true_text: "Show",
                false_text: "Hide"
            },
            signup_data: {
                email: "",
                phone: "",
                pwd: '',
                fullname: ""
            },
            validity_msg: "",
            validity_status: false,
            progress_status: false,
        };
    },
    created: function(){
        
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    computed: {
        ContinueBtn:{
            get: function(){
                if(this.validity_status){
                    return false;
                }else{
                    if(this.signup_data.email.length > 6){
                        if(this.signup_data.phone.length > 10){
                            if(this.signup_data.pwd.length > 5){
                                return true;
                            }else{
                                return false;
                            }
                        }else{
                            this.validity_msg = "Please ensure to provide a valid number";
                            return false;
                        }
                    }else{
                        return false;
                    }
                }
            },
            set: function(){
                
            }
        }
    },
    mounted: function(){
        M.AutoInit();
        
        //let m_elem = document.querySelectorAll('.modal');
		//M.Modal.init(m_elem, {dismissible: false})
    },
    methods: {
        Hello: function(){
            
        },

        ValidateInput: function(data){
            if(data == "email"){
                if(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.signup_data.email)){
                    if(this.signup_data.email.length < 6){
                        this.validity_status = true;
                        this.validity_msg = "Please Provide a Valid Email";
                    }else{
                        this.validity_status = false;
                    }
                }else{
                    this.validity_status = true;
                    this.validity_msg = "Please provide a valid email";
                }
            }

            if(data == "phone"){
                if(isNaN(this.signup_data.phone)){
                    this.validity_status = true;
                    this.validity_msg = "Please provide a valide number";
                }else{
                   this.validity_status = false;
                   //this.validity_msg = "" 
                }
            }

            if(data == "pwd"){
                if(this.signup_data.pwd.length < 5){
                    this.validity_status = true;
                    this.validity_msg = "Password requires minimum of 6 characters";
                }else{
                    this.validity_status = false;
                }
            }

            if(data == "fullname"){
                if(this.signup_data.fullname.length < 6){
                    this.validity_status = true;
                    this.validity_msg = "Please provide your Fullname";
                }else{
                    this.validity_status = false;
                }
            }
        },

        
        ShowPword: function(){
            var pword_element = document.getElementById("signuppassword");
            if(this.show.status == true){
                this.show.status = false;
                pword_element.setAttribute("type", "password");
                
            }else if(this.show.status == false){
                this.show.status = true;
                pword_element.setAttribute("type", "text");
            }
        },
        
        OpenModal: function(data){
                this.signup_data.email = "";
                this.signup_data.phone = "";
                this.signup_data.pwd = "";
                this.progress_status = false;
            
            MainBase.closeModal('signup_modal');
            MainBase.openModal(data);
        },

        CloseModal: function(data){
            MainBase.removeProgressBar();
            MainBase.closeModal(data);
        },

        SignUp: function(){
            let d_data = {
                email: this.signup_data.email,
                phone: this.signup_data.phone,
                password: this.signup_data.pwd,
                fullname: this.signup_data.fullname
            };
            this.progress_status = true;
            this.validity_status = true;
            this.validity_msg = "";
            let done_ = GuestBase.signUp(d_data);
            done_.then(data => {
                let signupResponse = data;
                if(signupResponse.code == 200){
                    let l_data = {
                        email: d_data.email,
                        password: d_data.password
                    };
                    let done_ = GuestBase.logIn(l_data);
                    done_.then(data => {
                        let loginResponse = data;
                        if(loginResponse.code == 200){
                            if(loginResponse.data.hasOwnProperty('user')){
                                MainBase.setSessionItem("usertype", "reader");
                                MainBase.setSessionItem("process_data", JSON.stringify(loginResponse.data.user));
                                this.progress_status = false;
                                this.validity_status = false;
                                this.$router.push("bookstore");
                            }else{
                                MainBase.alert("info", "Something wrong with your data structure");
                            }
                        }
                        if(loginResponse.code == 400){
                            MainBase.alert("info", loginResponse.message);
                        }
                    });
                   //this.$router.push("userdashboard");
                }{
                    this.validity_msg = signupResponse.message;
                    this.validity_status = true;
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";

    .modal{
        max-width: 400px;

        h1, h2, h3, h4, h5, h6{
            color: $secondary-color;
            font-weight: bold;
        }
        .btn{
            width: 100%;
            background-color: $primary-color;
        }

        .block_text{
            margin: 10px 0px 20px 0px;
            text-align: left;
            font-size: 13px;
        }

        .row{
            margin: 0px;
            padding: 0px;
            .input-field{
                margin: 0px;
                padding: 0px;
            }

            .show_p{
                padding-top: 10px;
            }
        }
    }

    
    
</style>



