<template>
    <div class="mainmenu">
        <div v-if="GuestUser">
            <GuestMenu/>
        </div>
        <div v-if="ReaderUser">
            <ReaderMenu/>
        </div>
    </div>
</template>
<script>
import GuestMenu from "@/components/menu/GuestMenu.vue";
import ReaderMenu from "@/components/menu/ReaderMenu.vue";
import PublisherMenu from "@/components/menu/PublisherMenu.vue";
import MainBase from "@/allservices/controller/MainBase.js";
    
export default {
    name: "mainmenu",
    components: {
        GuestMenu, ReaderMenu, PublisherMenu, MainBase
    },

    data: function(){
        return{
            app_name: this.$appName,
            user_type:{
                guest: true,
                reader: false
            }
        };
    },
    created: function(){
        
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    mounted: function(){
        M.AutoInit();
        if(MainBase.guestUser()){
            this.GuestUser;
        }
        if(MainBase.readerLoggedIn()){
            this.ReaderUser;
        }

        if(MainBase.publisherLoggedIn()){
            this.PublisherUser;
        }
    },
    computed:{
        GuestUser: function(){
            if(MainBase.guestUser()){
                return true;
            }else{
                return false;
            }
        },

        ReaderUser: function(){
            if(MainBase.readerLoggedIn()){
                return true;
            }else{
                return false;
            }
        },

        PublisherUser: function(){
            if(MainBase.publisherLoggedIn()){
                return true;
            }else{
                return false;
            }
        }
    },
    methods: {
        Hello: function(){
            
        }

    }
};
</script>
<style lang="scss" scoped>
   
</style>



