<template>
    <div class="mainfooter">
		<footer>
			<div class="">
				&copy; 2019 {{app_name}}. All rights reserved
			</div>
		</footer>
    </div>
</template>
<script>
	//import GuestMenu from "@/components/menu/GuestMenu.vue";
    
export default {
    name: "mainfooter",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName
        };
    },
    created: function(){
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    mounted: function(){
        M.AutoInit();
    },
    methods: {
        Hello: function(){
            
        }

    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";
    
    footer{
		background-color: $secondary-color;
		padding: 40px;
		color: #eee;
		font-size: 15px;
        bottom: 0;
        min-height: 200px;
	}
</style>



