<template>
    <div class="paymentoption">
		
    </div>
</template>
<script>
	//import GuestMenu from "@/components/menu/GuestMenu.vue";
    
export default {
    name: "paymentoption",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName
        };
    },
    created: function(){
        /*if(AuthApi.guestUser()){
            this.user_type.admin = false;
            this.user_type.guest = true;
        }
        if(AuthApi.adminUser()){
            this.user_type.guest = false;
            this.user_type.admin = true;
        }*/
    },
    mounted: function(){
		M.AutoInit();
		setTimeout(this.goToTop(), 3000);
		//this.goToTop();
    },
    methods: {
        Hello: function(){
            
        },
        goToBookInfo: function(b_num){
			this.goToTop();
			this.$router.push('/bookinfo');
		},
		goToTop: function(){
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
		},

        GoStore: function(){
			this.$router.push('bookstore');
			this.goToTop();
        },

    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";
    
</style>



