<template>
    <div class="popularbooks">
		<section id="info3_section">
			<div class="text_block">
				Popular Books on {{app_name}}
			</div>
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
			<div class="" v-show="avail_book">			
				<div class="row bk_wrapper" v-show="doc_ready">
					<div class="col s12 m3" v-for="(bb, index) in store_books" :key="index">
						<div class="card" v-on:click.prevent="goToBookInfo(bb)">
							<div class="card-image">
								<img :src="default_url + bb.cpath + bb.coverpic" v-show="bb.coverpic.length > 6">
								<img src="../assets/images/imagenotavailable.png" v-show="(bb.coverpic.length <= 6 ) || (!bb.coverpic) || (bb.coverpic == null)">
							</div>
							<div class="book_title">
								{{bb.title}}
							</div>
							<div class="book_author">
								{{bb.author}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" v-if="!avail_book">
				<div class="col s12 no_read" v-show="doc_ready">
					{{ avail_msg }}
				</div>
			</div>
		</section>
    </div>
</template>
<script>
	//import GuestMenu from "@/components/menu/GuestMenu.vue";
	import MainBase from "@/allservices/controller/MainBase.js";
    
export default {
    name: "popularbooks",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName,
			default_url: this.$defaultURL,
			store_books: "",
			doc_ready: false,
			pagelimit: "4",
			pagestart: "1",
			avail_book: false,
			avail_msg: ""
        };
    },
    created: function(){
        let ddata = {
			pagelimit: this.pagelimit,
			pagestart: this.pagestart,
			catid: "0"
		}
		let done_ = MainBase.popularBooks(ddata);
		done_.then(data =>{
			let c_response = data;
			if(c_response.code == 200){
				if(c_response.data.hasOwnProperty('book')){
					if(c_response.data.book != null){
						this.store_books = c_response.data.book;
						this.doc_ready = true;
						this.avail_book = true;
					}
				}else{
					this.doc_ready = true;
					this.avail_book = false;
					this.avail_msg = c_response.message;
					//MainBase.alert("info", "check your popular book data structure");
				}
			}else{
				//alert(c_response.message);
			}
		});
    },
    mounted: function(){
		M.AutoInit();
		setTimeout(this.goToTop(), 3000);
		//this.goToTop();
    },
    methods: {
        Hello: function(){
            
        },
        goToBookInfo: function(book_info){
			var process_d = MainBase.getSessionItem("bookinfo");
			if(process_d){
				this.GoBookInfo(book_info);
			}else{
				this.GoBookInfo(book_info);
			}
		},
		GoBookInfo: function(book_info){
			MainBase.showProgressBar();
			var process_d = {
				book: {
					readbookinfo: book_info	
				}
			};
			MainBase.setSessionItem("bookinfo", JSON.stringify(process_d));
			this.$router.push('/bookinfo');
		},
		goToTop: function(){
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
		},
		
        GoStore: function(){
			this.$router.push('bookstore');
			this.goToTop();
        },

    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";
    
    #info3_section{
		padding: 20px 0px 20px 0px;
		
		.text_block:nth-child(1){
			margin-bottom: 40px;
			font-family: Oswald, sans-serif;
			font-size: 34px;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 35px;
		}

		.bk_wrapper{
			padding: 0px 30px 0px 30px;
			.card{
				padding: 10px;
				box-shadow: 1px 1px 6px 0 #cfcaca;
				text-align: center;
				text-decoration: none;
				max-width: 250px;
				min-width: 250px;
				display: inline-block;
				cursor: pointer;
				//margin: 200px;

				img{
					max-height: 290px;
					min-height: 290px;
					width: 100%;

					height: 100%;
				}

				.book_title{
					font-size: 18px;
					padding-top: 10px;
					font-weight: bold;
				}

				.book_author{
					font-size: 13px;
					padding-bottom: 10px;
				}
			}
		}
	}

	
</style>