<template>
    <div class="recommendedbooks">
		<section id="recommended_section">
			<div class="text_block">
				{{app_name}} Top Bestsellers
			</div>
			<div class="p_wait" v-show="!doc_ready">{{this.$waitingText}}</div>
			<div class="row" v-show="avail_book">			
				<div class="row" v-show="doc_ready">
					<div class="col s12 m3" v-for="(bb, index) in store_books" :key="index">
						<div  class="card" v-on:click.prevent="goToBookInfo(bb)">
							<div class="row">
								<div class="card-image col s6">
									<!--img src="../assets/images/book-scc.png"-->
									<!-- <img :src="require('../assets/images/' + bb.book_img)"> -->
									<img :src="default_url + bb.cpath + bb.coverpic" v-show="bb.coverpic.length > 6">
									<img src="../assets/images/imagenotavailable.png" v-show="(bb.coverpic.length <= 6 ) || (!bb.coverpic) || (bb.coverpic == null)">
								</div>
								<div class="col s6 card-desc">
									<div class="book_title">
										{{bb.title}}
									</div>
									<div class="book_author">
										{{bb.author}}
									</div>
									<div class="book_stat">
										<span class="ti ti-eye"></span> {{bb.read}} read &nbsp; &nbsp;
										<span class="ti ti-star"></span> {{bb.rating}}
									</div>
									<div class="book_cost">
										N {{Number(bb.price).toLocaleString()}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" v-if="!avail_book">
				<div class="col s12 no_read" v-show="doc_ready">
					{{ avail_msg }}
				</div>
			</div>
		</section>
    </div>
</template>
<script>
	//import GuestMenu from "@/components/menu/GuestMenu.vue";
	import MainBase from "@/allservices/controller/MainBase.js";
    
export default {
    name: "recommendedbooks",
    components: {
        //GuestMenu
    },

    data: function(){
        return{
            app_name: this.$appName,
			default_url: this.$defaultURL,
			store_books: "",
			doc_ready: false,
			pagelimit: "4",
			pagestart: "1",
			avail_book: false,
			avail_msg: ""
        };
    },
    created: function(){
        let ddata = {
			pagelimit: this.pagelimit,
			pagestart: this.pagestart,
			catid: "0"
		}
		let done_ = MainBase.popularBooks(ddata);
		done_.then(data =>{
			let c_response = data;
			if(c_response.code == 200){
				if(c_response.data.hasOwnProperty('book')){
					if(c_response.data.book != null){
						this.store_books = c_response.data.book;
						this.doc_ready = true;
						this.avail_book = true;
					}
				}else{
					this.doc_ready = true;
					this.avail_book = false;
					this.avail_msg = c_response.message;
				}
			}
			if(c_response.code == 400){
				MainBase.aler("info", c_response.message);
			}
		});
    },
    mounted: function(){
		M.AutoInit();
		setTimeout(this.goToTop(), 3000);
		//this.goToTop();
    },
    methods: {
        Hello: function(){
            
        },
        goToBookInfo: function(book_info){
			var process_d = MainBase.getSessionItem("bookinfo");
			if(process_d){
				this.GoBookInfo(book_info);
			}else{
				this.GoBookInfo(book_info);
			}
		},
		
		GoBookInfo: function(book_info){
			MainBase.showProgressBar();
			var process_d = {
				book: {
					readbookinfo: book_info	
				}
			};
			MainBase.setSessionItem("bookinfo", JSON.stringify(process_d));
			this.$router.push('/bookinfo');
		},
		goToTop: function(){
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
		},
		
        GoStore: function(){
			this.$router.push('bookstore');
			this.goToTop();
        },

    }
};
</script>
<style lang="scss" scoped>
    @import "@/assets/plugins/materialize/sass/materialize.scss";
    
    #recommended_section{
		padding: 20px 10px 10px 10px;
		//color: #ccc;
		background-color: #ffffffb7;

		.text_block:nth-child(1){
			font-size: 25px;
			text-transform: uppercase;
			margin-bottom: 10px;
			line-height: 30px;
		}

		.card{
			
			padding: 0px 10px 0px 10px;
			
			box-shadow: 1px 1px 6px 0 #cfcaca;
			text-align: center;
			text-decoration: none;
			max-width: 100%;
			min-width: 100%;
			max-height: 100px;
			min-height: 150px;
			height: 100%;
			display: inline-block;
			cursor: pointer;
			//margin: 0px;

			.row{
				margin-bottom: 0px;
				.card-desc{
					text-align: left;
					.book_title{
						font-size: 18px;
						padding-top: 10px;
						font-weight: bold;
					}

					.book_author{
						font-size: 13px;
						padding-bottom: 10px;
					}
					.book_desc{
						color: #787878;
						//text-align: left;
					}
					.book_stat{
						margin-bottom: 0px;
						font-size: 12px;
					}
					.book_cost{
						font-weight: bold;
						color: $primary-color;
						font-size: 16px;
					}
				}

				.card-image{
					padding: 0px;
					max-width: 110px;

					img{
						//max-height: 140px;
						min-height: 150px;
						height: 100%;
						max-width: 100px;
						min-width: 100px;
						width: 100%;
					}
				}

				

				.btn{
					background-color: $primary-color;
				}
			}
		}
	}

	
</style>



