<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import "@/assets/plugins/materialize/sass/materialize.scss";

	.swal-button{
		background-color: $secondary-color;
	}
	.swal-text {
		padding: 17px;
		display: block;
		margin: 22px;
		text-align: center;
	}
	#app {
		//font-family: "Avenir", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 22px;
		color: #333;

		.sidenav-trigger{
			margin-right: 5px;
		}

		.multiline-ellipsis{
			display: block;
			display: -webkit-box;
			max-width: 400px;
			//height: 109.2px;
			margin: 0 auto;
			//font-size: 26px;
			line-height: 1.4;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.modal{
			min-height: 300px !important;
			max-height: 500px;
			overflow: hidden;
			top: 2% !important;

			input::placeholder{
				color: #000 !important
			}

			.error_msg{
				color: #f00;
			}
		}

		a{
			cursor: pointer;
		}
		
		select{
			border: 1px solid #9e9e9e !important;
		}

		.p_wait{
			text-align: center;
		}
	}

</style>
